 <div class="leftnav-hamburger">
      <div class="hamburger"><i class="fa fa-bars"></i></div>
   </div>
  <!-- Users and Roles start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Users and Roles</span>
     </div>
        <ul>
           <li class="active"> <i class="fa fa-user"></i>Users</li>
           <li><i class="fa fa-users"></i>Roles</li>
        </ul>
   </div>
   <!-- Users and Roles End here-->
   
   <!-- Resources Start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Resources</span>
     </div>
        <ul>
           <li><i class="fa fa-picture-o"></i>Images</li>
           <li><i class="fa fa-video-camera"></i>Videos</li>
           <li><i class="fa fa-folder-open"></i>Files</li>
        </ul>
   </div>
   <!-- Resources End here-->
   
   <!-- Emails and Recipients Start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Emails and Recipients</span>
     </div>
        <ul>
           <li> <i class="fa fa-envelope"></i>Emails</li>
           <li><i class="fa fa-list-alt"></i>Recipients</li>
        </ul>
   </div>
   <!-- Emails and Recipients End here-->
   
   <!-- Promotional Pages Start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Promotional Pages</span>
     </div>
        <ul>
           <li><i class="fa fa-file-text"></i>Promotional Pages</li>
        </ul>
   </div>
   <!-- Promotional End here-->
   
   <!-- Reports Start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Reports</span>
     </div>
        <ul>
           <li><i class="fa fa-bar-chart"></i>Analytics</li>
        </ul>
   </div>
   <!-- Reports End here-->
   
   <!-- Logos Start here-->
   <div class="leftnav-Toggle">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>Logos</span>
     </div>
        <ul>
           <li><i class="fa fa-bookmark"></i>Event logo</li>
        </ul>
   </div>
   <!-- Logos End here-->