
<nav class="left-navbar-edit">
  <div class="left-navbar-edit-header">
  </div>
  
    <ul class="nav-main-edit">
      <li class="{{isAddMenu ? 'btn_active' : ''}}">
        <a ng-click = "showSubMenu('add')" ui-sref-active="btn_active">
        <div>
           <i class="fa fa-plus-square"></i>
        </div>Add
        </a>

         <div class="add-submenu" ng-show = "isAddMenu">
        <div class="submenu-block">
         <div class="submenu-header">
           <h3 class="heading-top" >{{title}}</h3>
         </div>
         <div class="submenu-leftnav">
           <ul>
             <li ng-repeat = "item in subMenu"><a ui-sref="#">{{item.name}}</a></li>
             
           </ul>
         </div>         
         <div class="submenu-content" dragula = "'menu'">
           <div style= "color:black;">Item 1</div>
         </div>
      </div>
    </div>
    </li>
    <li><a ng-click="showSubMenu('section')" ui-sref-active="btn_active">Section</a></li>    
    <li>
      <a ng-click = "showSubMenu('widgets')" ui-sref-active="btn_active">Widgets</a>
    </li>    
    <li><a ui-sref="#" ui-sref-active="btn_active">Form</a></li>    
    <li><a ui-sref="#">SEO</a></li>    
    <li><a ui-sref="#">Stats</a></li>    
  </ul>
</nav>