
<nav class="left-navbar-edit">
  <div class="left-navbar-edit-header">
  </div>
  
    <ul class="nav-main-edit">
       <li class=""><a href="#">
   <div>
       <i class="fa fa-plus-square"></i>
   </div>
    Add</a>
    <div class="add-submenu">
     <!-- <div class="submenu-block">
         <div class="submenu-header">
           <h3 class="heading-top">Add Content</h3>
         </div>
         <div class="submenu-leftnav">
           <ul>
             <li><a href="#">Section</a></li>
             <li><a href="#">Images</a></li>
             <li><a href="#">Video</a></li>
             <li><a href="#">Icons</a></li>
             <li><a href="#">Text</a></li>
             <li><a href="#">Button</a></li>
             <li><a href="#">Graph</a></li>
             <li><a href="#">Shapes</a></li>
             <li><a href="#">Site Navigation</a></li>
             <li><a href="#">Slider</a></li>
           </ul>
         </div>        
         <div class="submenu-content"></div>                  
      </div>--> 
    </div>
    </li>
    <li><a href="#">Section</a></li>    
    <li><a href="#">Widgets</a></li>    
    <li><a href="#">Form</a></li>    
    <li><a href="#">SEO</a></li>    
    <li><a href="#">Stats</a></li>    
  </ul>
</nav>