
<div class="manage-left-row">

  <!--<wc-left-nav-menu data = "leftNavList"></wc-left-nav-menu>-->
   <div class="leftnav-hamburger">
      <div class="hamburger"><i class="fa fa-bars"></i></div>
   </div>
  <!-- Users and Roles start here-->
   <div class="leftnav-Toggle" ng-repeat = "listItem in LeftNavList">
     <div class="leftnav-Toggle-name">
        <i class="fa fa-angle-down"></i>
        <span>{{listItem.name}}</span>
     </div>
        <ul>
           <li ui-sref-active = "nav-selected" ng-repeat = "menu in listItem.menu" ui-sref = "{{menu.state || '#'}}" disabled="disabled"> <i class="{{menu.icon}}"></i>{{menu.name}}</li>
        </ul>
  </div>

</div>
