
<div class="left-navbar ">

   <div class="left-header-logo">
      <img src="./images/sample-img.png" alt="">      
   </div>
   
   <div class="leftnav-title">
      <h2 class="common-headng">Main Navigation</h2>
   </div>
   <div class="btn_create-new-design-wrap">
     <div class="btn_create-new-design">
      <span class="glyphicon glyphicon-plus"></span>
       Create New Design
     </div>
   </div>     
  <div ui-sref = "app.home.overview" ui-sref-active="btn_active" class="btn_left-bar">
    Overview
 
  </div>
   <div ui-sref = "app.home.design.upload" ui-sref-active="btn_active" class="btn_left-bar">
   Upload Design
   
   </div>

   


</div>
