<header class="header header-edit">
  <div class="header-main clearfix">
    <a ui-sref="#"><div class="hamburger-wrap"></div></a>
    <div class="nav-arrows-col">
      <a ui-sref="#"> <i class="fa fa-arrow-left" > </i></a>
      <a ui-sref="#"></i> <i class="fa fa-arrow-right"></i></a>
    </div>

    <div class="header-right-col">
      <a class="btn-view btn-rect" ui-sref="#">Preview</a>
      <a class="btn-view btn-rect" ui-sref="#">Update</a>
      <a class="btn-view btn-rect" ui-sref="#">Publish</a>
    </div>
    
  </div>  
</header>