<!--Navigation bar start here-->
    <div class="nav-header"> 
          <div class="logo">
              <img src="images/yavun_logo.svg" width="220" height="50" alt=""/>
              <div class="nav-campaign-btn" ui-sref="app.home.campaign" ui-sref-active = "active">Campaign</div> 
              <div class="nav-campaign-btn active" ui-sref="app.home.manage" ui-sref-active = "active">Manage</div>
          </div>
          
          <div class="nav-search">
             <div class="nav-search-icon"><i class="fa fa-search"></i></div>
             <input type="text" class="nav-search-form"  placeholder="Search">
             <div class="nav-close-icon"><i class="fa fa-times-circle"></i></div>
          </div>
          
          <div class="nav-upload"><i class="fa fa-user"></i></div>
          <div class="nav-upload"><i class="fa fa-bell"></i></div>
          <div class="nav-upload"><i class="fa fa-comments"></i></div>
          <div class="nav-upload"><i class="fa fa-question-circle"></i></div>
          <div class="nav-upload"><i class="fa fa-arrow-circle-up"></i></div>
    </div> 
<!--Navigation bar end here-->