<div class="content-main">
   
   <div class="content-padding">
    <!-- <div class="content-inner">    -->
    
     <div class="thumb-category">
     
       <h3 class="thumb-category-title">Created Site</h3>
       <div class="right-elements">
          <div class="btn_view-all">
            <a href="#">View all</a>
          </div>
            <label class="switch">
              <input type="checkbox" class="switch-input">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
        </div> 
     </div> <!-- thumb-category -->
       
      <div wc-User-Template-Box></div> <!-- row -->
       
<div class="thumb-category">       
   <h3 class="thumb-category-title">Featured</h3>
   <div class="right-elements">
      <div class="btn_view-all">
        <a href="#">View all</a>
      </div>
        <label class="switch">
          <input type="checkbox" class="switch-input">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
    </div> 
</div>

<div wc-Template-Box></div> 
       
<div class="thumb-category">       
   <h3 class="thumb-category-title">Music</h3>
   <div class="right-elements">
      <div class="btn_view-all">
        <a href="#">View all</a>
      </div>
        <label class="switch">
          <input type="checkbox" class="switch-input">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
    </div> 
</div>
       
<div wc-Template-Box></div> 
       
<div class="btn_load-templates">
  <a href="#">Load More Templates</a>
</div>

   </div>
</div>