<div class="content-main">
   
   <div class="content-padding">
    <!-- <div class="content-inner">    -->
    
     <div class="thumb-category">
     
       <h3 class="thumb-category-title">Created Site</h3>
       <div class="right-elements">
          <div class="btn_view-all">
            <a href="#">View all</a>
          </div>
            <label class="switch">
              <input type="checkbox" class="switch-input">
              <span class="switch-label" data-on="On" data-off="Off"></span>
              <span class="switch-handle"></span>
            </label>
        </div> 
     </div> <!-- thumb-category -->
       
       <div class="row">
          <div class="col-lg-4">
            <div class="thumb-block">
              <div class="thumb-img"></div>   
              <div class="thumb-innr">
      
              <div class="thumb-details" ng-repeat= "template in templates">

                    <span class="title">Template Title</span>
                    <p class="thumb-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis 
                    </p>
                  <div class="thumb-info">
                    <span class="revision">Revision:6</span>
                    <span class="age">Age:5 days ago</span>
                  </div>
                  <span class="btn_view-more">
                    <a href="#">View More</a>
                  </span>
                </div>
            </div>       
                
            <div class="thumb-stats-view">
              <div class="thumb-innr">
                <span class="title">Stats Overview</span>
                   <div class="thumb-graph-wrap">
                      <div class="thumb-graph"></div>
                      <div class="thumb-graph-details">
                        <p>Live Visitors:200</p>
                        <p>Bounce Rate:50%</p>                
                        <p>Total Visits:200</p>
                      </div>
                   </div>                  
                  <span class="btn_view-more">
                    <a href="#">View More</a>
                  </span>
              </div>
            </div>
          </div> <!-- thumb block -->
          </div>
          
          

          
       </div>  <!-- row -->
       
<div class="thumb-category">       
   <h3 class="thumb-category-title">Featured</h3>
   <div class="right-elements">
      <div class="btn_view-all">
        <a href="#">View all</a>
      </div>
        <label class="switch">
          <input type="checkbox" class="switch-input">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
    </div> 
</div>

<div class="row">
       <div class="col-lg-4">
            <div class="thumb-block">
              <div class="thumb-img"></div>   
              <div class="thumb-innr">
      
                <div class="thumb-details">
                  <span class="title">Template Title</span>
                  <p class="thumb-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis 
                  </p>
                  <div class="thumb-info">
                    <span class="revision">Revision:6</span>
                    <span class="age">Age:5 days ago</span>
                  </div>
                  <span class="btn_view-more">
                    <a href="#">View More</a>
                  </span>
                </div>
            </div>       
          </div> <!-- thumb block -->
         </div>
          
 <!-- row --> 
       
<div class="thumb-category">       
   <h3 class="thumb-category-title">Music</h3>
   <div class="right-elements">
      <div class="btn_view-all">
        <a href="#">View all</a>
      </div>
        <label class="switch">
          <input type="checkbox" class="switch-input">
          <span class="switch-label" data-on="On" data-off="Off"></span>
          <span class="switch-handle"></span>
        </label>
    </div> 
</div>
       
<div class="row">
       <div class="col-lg-4">
            <div class="thumb-block">
              <div class="thumb-img"></div>   
              <div class="thumb-innr">
      
                <div class="thumb-details">
                  <span class="title">Template Title</span>
                  <p class="thumb-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis 
                  </p>
                  <div class="thumb-info">
                    <span class="revision">Revision:6</span>
                    <span class="age">Age:5 days ago</span>
                  </div>
                  <span class="btn_view-more">
                    <a href="#">View More</a>
                  </span>
                </div>
            </div>       
          </div> <!-- thumb block -->
         </div>
          
  <!-- row -->
       
<div class="btn_load-templates">
  <a href="#">Load More Templates</a>
</div>

   </div>
</div>