<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Template Details</title>
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../../styles/css/main.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<header class="header">
  <div class="header-main clearfix">
    <div class="hamburger-wrap"></div>
    <div class="search-text-input-wrap"><input type="search" placeholder="Search" class="search-text-input"/></div>
    <div class="social-icon-tray">
        <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
        <a href="#"><span class="glyphicon glyphicon-bell"></span></a>        
        <a href="#"><span class="glyphicon glyphicon-comment"></span></a>        
        <a href="#"><span class="glyphicon glyphicon-user"></span></a>        
    </div>
  </div>  
  <div class="header-sub clearfix">
      <div class="common-headng-wrap">
        <h2 class="common-headng">Overview</h2>
      </div>
      <div class="shortout-wrap">
      <label>
        <select>
          <option>All Templates</option>
        </select>
        </label>
        <span class="line-break">| </span>
        <label>Order By: 
        <select>
          <option>Age</option>
        </select>
        </label>
        <span class="line-break">|</span>
        <input class="btn_refresh" type="submit" value="Refresh">
      </div>
  </div>  
</header>

<div class="left-navbar ">
   <div class="logo-main">
      <img src="../../images/sample-img.png" alt="">      
   </div>
   <div class="title_main-nav">
      <h2 class="common-headng">Main Navigation</h2>
   </div>
   <div class="btn_create-new-design-wrap">
     <div class="btn_create-new-design">
      <span class="glyphicon glyphicon-plus"></span>
       Create New Design
     </div>
   </div>     
   <div class="btn_left-bar">
     Overview
   </div>
   <div class="btn_left-bar">
     Template
   </div>
</div>

<div class="content-main">
   <div class="content-padding">
      <div class="template-details">
      
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Details</a></li>
    <li><a data-toggle="pill" href="#menu1">Revisions</a></li>
    <li><a data-toggle="pill" href="#menu2">Stats Overview</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <form class="form-horizontal" role="form">        
          <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Description:</label>
            <div class="col-sm-10">
             <!-- <input type="email" class="form-control" id="email" placeholder="Enter email"> -->
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Seo Keywords:</label>
            <div class="col-sm-10">
               <input type="email" class="form-control" id="email" placeholder="Interactive, Microsite, Parrallax, Design">
              </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Created On:</label>
            <div class="col-sm-10">
                 <p class="form-control-static">16 July 2015 at 12:00 PM</p>
              </div>
          </div>
          
          <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Last Updated:</label>
            <div class="col-sm-10">
                 <p class="form-control-static">Never</p>
              </div>
          </div>
          
         <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Visibility:</label>
            <div class="col-sm-10">        
                  <select class="form-control">
                      <option>Hidden</option>
                  </select>                    
            </div>
            
          </div>
          
         <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Published:</label>
            <div class="col-sm-10">
                  <select class="form-control">
                      <option>Hidden</option>
                  </select>
              </div>
          </div>
          
         <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Category:</label>
            <div class="col-sm-10">
                  <select class="form-control">
                      <option>Hidden</option>
                  </select>   
              </div>
          </div>
          
          <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Apply</button>
                    <button type="button" class="btn">Cancel</button>
                </div>

          </div>          
          
        </form>
      
    </div>
    <div id="menu1" class="tab-pane fade revision">
      
      <!-- table data -->
 <table class="table" >
    <thead>
      <tr>
        <th>Revision Id</th>
        <th>Message</th>
        <th>User</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>First Commit</td>
        <td>Admin</td>
        <td>16 July 2015 13:00 </td>
        <td><input type="checkbox" value=""></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Second Commit</td>
        <td>Admin</td>
        <td>16 July 2015 16:00 </td>
        <td><input type="checkbox" value=""></td>
      </tr>
    </tbody>
  </table>
       <!-- table end -->
       <form class="form-horizontal" role="form" style="float:left; margin-top: 30px;">  
         <div class="form-group">        

                    <button type="submit" class="btn btn-primary">View Changes</button>
                    <button type="button" class="btn">Revert</button>

         </div>
       </form>
      
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div> <!-- template-details -->

   </div> <!-- content-padding -->
</div> <!-- content-main -->

<footer class="content-padding">
    <div class="text-right">Crafted by Microsite</div>
    <div class="text-left">One micro 1.1</div>    
</footer>


</body>
</html>