<div class="thumb-category">       
   <h3 class="thumb-category-title">Featured</h3>
   <div class="right-elements">
      <div class="btn_view-all">
        <a href="#">View all</a>
      </div>
         <wc-on-off-button is-hidden  = "isHidden"></wc-on-off-button>
    </div> 
</div>
<div class="row"  ng-hide = "isHidden">
       <div class="col-lg-4" ng-repeat ='template in templates | filter : featured' >
            <div class="thumb-block">
              <div class="thumb-img"></div>   
              <div class="thumb-innr">
      
                <div class="thumb-details">
                  <span class="title">Template Title</span>
                  <p class="thumb-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis 
                  </p>
                  <div class="thumb-info">
                    <span class="revision">Revision: 6</span>
                    <span class="age">Age: 5 days ago</span>
                  </div>
                  <span class="btn_view-more">
                    <a ui-sref="home.design.detail">View More</a>
                  </span>
                </div>
            </div>       
          </div> <!-- thumb block -->
         </div>
</div>          
 
          
     <!-- row -->