<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Template Edit</title>
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../styles/css/main.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<header class="header header-edit">

  <div class="header-main clearfix">
      <a href="#"><div class="hamburger-wrap"></div></a>
    <div class="nav-arrows-col">
      <a href="#"> <i class="fa fa-arrow-left" > </i></a>
      <a href="#"> <i class="fa fa-arrow-right"></i></a>
    </div>

    <div class="header-right-col">
      <a class="btn-view btn-rect" href="#">Preview</a>
      <a class="btn-view btn-rect" href="#">Update</a>
      <a class="btn-view btn-rect" href="#">Publish</a>
    </div>
    
  </div>  
</header>



<nav class="left-navbar-edit">
  <div class="left-navbar-edit-header">
     <img src="../../images/yavun_logo.svg" alt=""> 
  </div>
  
  <ul class="nav-main-edit">
    <li class="">
       <div><i class="fa fa-plus-square"></i></div>
       <span class="nav-edit-text">Add</span>
    
     <div class="block-container">
      <div class="submenu-block">
         <div class="submenu-header">
           <div class="content-padding">
             <h3 class="heading-top">Add Content</h3>
           </div>
         </div>
         <div class="submenu-leftnav">
           <ul>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Section</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-file-image-o"></span>
               <span class="submenu-linkbox submenu-link-right">Images</span>
             </a>
             </li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-video-camera"></span>
               <span class="submenu-linkbox submenu-link-right">Video</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Icons</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Text</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Button</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-line-chart"></span>
               <span class="submenu-linkbox submenu-link-right">Graph</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Shapes</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Site Navigation</span>
             </a></li>
             <li><a href="#">
               <span class="submenu-linkbox submenu-iconbox-left fa fa-gears"></span>
               <span class="submenu-linkbox submenu-link-right">Slider</span>
             </a></li>
           </ul>
         </div>         
         <div class="submenu-content">
            <div class="content-padding">
              <div class="heading">Images</div>
              <div class="content-block">
                <div class="icon-blocks">
                   <div class="icon-block">
                     <a href="#">
                       <i class="fa fa-picture-o"></i>
                       <div class="caption">Images</div>
                      </a>
                   </div>
                   
                   <div class="icon-block">
                     <a href="#">
                       <i class="fa fa-picture-o"></i>
                       <div class="caption">Image Gallery</div>
                      </a>
                   </div>
                </div>
              </div>
            </div>
         </div>                  
      </div>
    </div> 
    </li>
    <li>
       <div><i class="fa fa-puzzle-piece"></i></div>
       <span class="nav-edit-text">Section</span>
<!-- <div class="block-container">
        <div class="submenu-block">
            <div class="submenu-header">
               <div class="content-padding">
                 <h3 class="heading-top">Upload Image</h3>
                 <span class="elements-right"><a href="#" class="heading-navlinks">Back to add</a></span>
               </div>
         </div>
            <div class="image-container">
                <ul class="nav nav-pills">
                  <li class="active"><a data-toggle="pill" href="#home">Upload Image</a></li>
                  <li><a data-toggle="pill" href="#menu1">User Library</a></li>
                  <li><a data-toggle="pill" href="#menu2">Image Library</a></li>
                </ul>
  
                <div class="tab-content">
                   <div id="home" class="tab-pane fade in active clearfix">

                         <div class="upload-image-content">
                           
                         </div>                                                
                         <div class="bottom-fixed-box">
                            <button type="submit" class="btn btn-primary">Upload</button>
                            <button type="button" class="btn">Cancel</button>
                         </div>
                   </div>
                   <div id="menu1" class="tab-pane fade revision clearfix">
                         <div class="top-fixed-box">
                           <input type="search" placeholder="Search" class="search-text-input searchbox">
                         </div>
                          
                          <div class="user-library-content">
                             <div class="uploaded-date-bar"><span class="date">Uploaded on: 7 May 2015</span> </div>
                             <div class="user-library-blocks clearfix">
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                   <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>    
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner"><img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>    
                                                          
                             </div>
                             
                             <div class="uploaded-date-bar"><span class="date">Uploaded on: 3 May 2015</span> </div>
                             
<div class="user-library-blocks clearfix">
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>    
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div>    
                                                          
                             </div>
                             
                          </div>
                      
                         <div class="bottom-fixed-box">
                            <button type="submit" class="btn btn-primary">Upload</button>
                            <button type="button" class="btn">Cancel</button>
                         </div>
                   </div>
                   <div id="menu2" class="tab-pane fade clearfix">
                      
                       <div class="top-fixed-box">
                         <input type="search" placeholder="Search" class="search-text-input searchbox">
                       </div>
                        <div class="image-library-content">
                          <div class="left-nav">
                             <div class="header">Catagories</div>
                             <ul class="links">
                               <li><a class="active" href="#">Fashion</a></li>
                               <li><a href="#">Architecture</a></li>
                               <li><a href="#">Real State</a></li>
                               <li><a href="#">Technology</a></li>                               
                             </ul>
                          </div>
                          <div class="right-content">
                             <div class="header">Fashion</div>   
                             <div class="image-library-blocks">
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/477355145_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/28392195_lel_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/dv1961037_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                                 <div class="library-block ">
                                   <div class="library-block-inner">
                                    <img src="../../images/175138996_200.jpg" alt="">
                                    <div class="img-picker fa fa-pencil"></div>
                                   </div>
                                 </div> 
                             </div>
                          </div>                          
                        </div>                      
                       <div class="bottom-fixed-box">
                          <button type="submit" class="btn btn-primary">Upload</button>
                          <button type="button" class="btn">Cancel</button>
                       </div>
                         
                      </div>
                   </div>
                </div>
            </div> 
        </div>--> <!-- block-container -->

      
    </li>    
    <li>
       <div><i class="fa fa-gears"></i></div>
       <span class="nav-edit-text">Widgets</span>
       
    <div class="section-setting-box">
      <div class="setting-header">
        
      </div>
    </div> <!-- section-setting-box -->
    
    <!--<div class="block-container-section">
      <div class="submenu-block">
         <div class="submenu-header">
           <div class="content-padding">
             <h3 class="heading-top">Sections</h3>
             <div class="elements-right">
                 <div class="btn btn-add-section">
                   <i class="fa fa-plus"></i>
                   <span>Add New Section</span>
                 </div>
             </div>
           </div>
         </div>
            
       <div class="section-inner">
        <ul>
          <li>
            <div class="content-padding">
              <div class="section-label">Problem</div> 
              <div class="section-right-content">
                <a href="#"><i class="fa fa-cog"></i></a>
                <a href="#"><i class="fa fa-minus"></i></a>                
                <a href="#"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="content-padding">
              <div class="section-label">Solution</div> 
              <div class="section-right-content">
                <a href="#"><i class="fa fa-cog"></i></a>
                <a href="#"><i class="fa fa-minus"></i></a>                
                <a href="#"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </li>
         <li>
            <div class="content-padding">
              <div class="section-label">Our Team</div> 
              <div class="section-right-content">
                <a href="#"><i class="fa fa-cog"></i></a>
                <a href="#"><i class="fa fa-minus"></i></a>                
                <a href="#"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </li>
          
        </ul>
      </div>     
      </div>
    </div>--> <!-- block-container-section -->
    </li>    
    <li>
       <div><i class="fa fa-file-text-o"></i></div>
       <span class="nav-edit-text">Form</span>
    </li>    
    <li>
       <div><i class="fa fa-search"></i></div>
       <span class="nav-edit-text">SEO</span>
    </li>    
    <li>
       <div><i class="fa fa-bar-chart"></i></div>
       <span class="nav-edit-text">Stats</span>
    </li>    
  </ul>
</nav> <!-- left-navbar-edit -->

<div class="content-main content-main-edit">

      <div class="template-edit">
        <div class="grid-vertical"></div>
        <div class="grid-horizontal"></div>
        <img src="../../images/m_4.png" alt="">
      </div>
</div> <!-- content-main -->

<footer class="footer-edit">
  <div class="content-padding">
    <div class="text-right">Crafted by Microsite</div>
    <div class="text-left">One micro 1.1</div>    
  </div>
</footer>

                       <!--<div class="control-bar">
                          <span class="control-label"><b>::</b>Paragraph</span>
                          <span class="control-buttons-container">
                            <span class="control-button with-separator fa fa-files-o"></span>
                            <span class="control-button with-separator fa fa-cog"></span>
                            <span class="control-button with-separator fa fa-trash-o"></span>                    
                          </span>
                      </div> -->
</body>
</html>
