<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Template Edit</title>
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../styles/css/main.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<header class="header header-edit">
  <div class="header-main clearfix">
    <a href="#"><div class="hamburger-wrap"></div></a>
    <div class="nav-arrows-col">
      <a href="#"> <i class="fa fa-arrow-left" > </i></a>
      <a href="#"> <i class="fa fa-arrow-right"></i></a>
    </div>

    <div class="header-right-col">
      <a class="btn-view btn-rect" href="#">Preview</a>
      <a class="btn-view btn-rect" href="#">Update</a>
      <a class="btn-view btn-rect" href="#">Publish</a>
    </div>
    
  </div>  
</header>



<nav class="left-navbar-edit">
  <div class="left-navbar-edit-header">
     <img src="../../images/sample-img.png" alt=""> 
  </div>
  
  <ul class="nav-main-edit">
    <li class="">
    <a href="#">
   <div><i class="fa fa-plus-square"></i></div>
    Add</a>
    <div class="block-container">
      <div class="submenu-block">
         <div class="submenu-header">
           <div class="content-padding">
             <h3 class="heading-top">Add Content</h3>
           </div>
         </div>
         <div class="submenu-leftnav">
           <ul>
             <li><a href="#">Section</a></li>
             <li><a href="#">Images</a></li>
             <li><a href="#">Video</a></li>
             <li><a href="#">Icons</a></li>
             <li><a href="#">Text</a></li>
             <li><a href="#">Button</a></li>
             <li><a href="#">Graph</a></li>
             <li><a href="#">Shapes</a></li>
             <li><a href="#">Site Navigation</a></li>
             <li><a href="#">Slider</a></li>
           </ul>
         </div>         
         <div class="submenu-content">
            <div class="content-padding">
              <div class="heading">Images</div>
              <div class="content-block">
                 fsdfasd
              </div>
            </div>
         </div>                  
      </div>
    </div>
    </li>
    <li><a href="#">Section</a>
      <div class="block-container">
        <div class="submenu-block">
            <div class="submenu-header">
               <div class="content-padding">
                 <h3 class="heading-top">Upload Image</h3>
                 <span class="elements-right"><a href="#">Back to add</a></span>
               </div>
         </div>
            <div class="image-container">
                <ul class="nav nav-pills">
                  <li class="active"><a data-toggle="pill" href="#home">Upload Image</a></li>
                  <li><a data-toggle="pill" href="#menu1">User Library</a></li>
                  <li><a data-toggle="pill" href="#menu2">Image Library</a></li>
                </ul>
  
                <div class="tab-content">
                   <div id="home" class="tab-pane fade in active">
                      That's a home screen.
                       <div class="control-bar">
                          <span class="control-label"><b>::</b>Paragraph</span>
                          <span class="control-buttons-container">
                            <span class="control-button with-separator fa fa-files-o"></span>
                            <span class="control-button with-separator fa fa-cog"></span>
                            <span class="control-button with-separator fa fa-trash-o"></span>                    
                          </span>
                      </div> 

     
                           <div class="bottom-fixed-box">
                              <button type="submit" class="btn btn-primary">Upload</button>
                              <button type="button" class="btn">Cancel</button>
                           </div>


                   </div>
                   <div id="menu1" class="tab-pane fade revision">
                      That's second tab.
                   </div>
                   <div id="menu2" class="tab-pane fade">
                      That's third tab.
                   </div>
                </div>
            </div> <!-- image-container -->
        </div>
      </div>
    </li>    
    <li><a href="#">Widgets</a></li>    
    <li><a href="#">Form</a></li>    
    <li><a href="#">SEO</a></li>    
    <li><a href="#">Stats</a></li>    
  </ul>
</nav> <!-- left-navbar-edit -->

<div class="content-main content-main-edit">
      <div class="template-edit">
        <div class="grid-vertical"></div>
        <div class="grid-horizontal"></div>
        <img src="../../images/m_4.png" alt="">
      </div>
</div> <!-- content-main -->

<footer class="footer-edit">
  <div class="content-padding">
    <div class="text-right">Crafted by Microsite</div>
    <div class="text-left">One micro 1.1</div>    
  </div>
</footer>

</body>
</html>