<div ng-repeat = "category in categories">
   <div class="content-padding">
    <!-- <div class="content-inner">    -->
    <div class="thumb-row">
    <div class="thumb-category">
     
       <h3 class="thumb-category-title">{{category.name}}</h3>
       <div class="right-elements">
          <div class="btn_view-all">
            <a ui-sref="#">View all</a>
          </div>
            
              <wc-on-off-button is-hidden = "isHidden"></wc-on-off-button>
        </div> 
    </div> 
    <!-- thumb-category -->
    <div class="row" ng-if = "category.name != 'featured'" ng-hide = "isHidden">
        <div class="col-lg-4"  ng-repeat ='template in templates | categoryFilter : category.name'>
            <div class="thumb-block" ng-mouseover="onMouseOver($event)">
                <div class="thumb-img">
                  <span class="btn_template-img-over">
                  <a ui-sref="preview" target="_blank">Preview</a>
                  <a ui-sref="editor" target="_blank" ng-click = "">Edit</a></span> 
                	<img ng-src="{{template.screenShot.url}}"/>
              </div>
                 
                <div class="thumb-innr">
      
                <div class="thumb-details">
                  <span class="title">{{template.name}}</span>
                  <p class="thumb-desc">{{template.description}}
                  </p>
                  <div class="thumb-info">
                    <span class="revision">Revision:1</span>
                    <span class="age">{{template.createdDate | DateFilter}}</span>

                  </div>
                  <span class="btn_view-more">
                    <!--<a ng-click = "selectTemplate(this)">View More</a>-->                    
                    <wc-button ng-click = "selectTemplate(this)"></wc-button>
                  </span>
                </div>
            </div>

                
        <div class="thumb-stats-view" ng-show = "{{template.category == 'User Created'}}" >
          <div class="thumb-innr">
            <span class="title">Stats Overview</span>
               <div class="thumb-graph-wrap">
                  <div class="thumb-graph"></div>
                  <div class="thumb-graph-details">
                    <p>Live Visitors:200</p>
                    <p>Bounce Rate:50%</p>                
                    <p>Total Visits:200</p>
                  </div>
               </div>                  
              <span class="btn_view-more">
                <a ui-sref="#">View More</a>
              </span>
          </div>
        </div>
        </div> <!-- ./thumb block -->
      </div>

     </div><!-- ./row -->


        <!-- thumb-category -->
    <div class="row" ng-if = "category.name == 'featured'" ng-hide = "isHidden">
        <div class="col-lg-4"  ng-repeat ='template in templates'>
            <div class="thumb-block" ng-mouseover="onMouseOver($event)">
                <div class="thumb-img">
                  <span class="btn_template-img-over">
                  <a ui-sref="preview" target="_blank">Preview</a>
                  <a ui-sref="editor" target="_blank">Edit</a></span> 
                  <img ng-src="{{template.screenshots}}">
              </div>
                  
                <div class="thumb-innr">
      
                <div class="thumb-details">
                  <span class="title">{{template.name}}</span>
                  <p class="thumb-desc">{{template.description}}
                  </p>
                  <div class="thumb-info">
                    <span class="revision">Revision:1</span>
                    <span class="age">Age:{{template.createdDate | DateFilter}}</span>
                  </div>
                  <span class="btn_view-more">
                   <!-- <a ui-sref = "home.design.detail">View More</a>-->
                   <wc-button ng-click = "selectTemplate(this)"></wc-button>
                  </span>
                </div>
            </div>

                
        <div class="thumb-stats-view" ng-show = "{{template.category == 'User Created'}}" >
          <div class="thumb-innr">
            <span class="title">Stats Overview</span>
               <div class="thumb-graph-wrap">
                  <div class="thumb-graph"></div>
                  <div class="thumb-graph-details">
                    <p>Live Visitors:200</p>
                    <p>Bounce Rate:50%</p>                
                    <p>Total Visits:200</p>
                  </div>
               </div>                  
              <span class="btn_view-more">
                <a ui-sref="#">View More</a>
              </span>
          </div>
        </div>
        </div> <!-- ./thumb block -->
      </div>

     </div><!-- ./row -->

 </div>          
  </div> 
  </div>
 