/* line 1, ../sass/_test.scss */
.test {
  margin: 20px;
}

/* line 1, ../sass/_test2.scss */
.test2 {
  height: 200px;
}

/* line 1, ../sass/_test3.scss */
header {
  /* Test From test3.scss8*/
  float: left;
}
