/* Scss Document */

/*====================== Campaign Home Page ======================*/

.campaign-home-row{
	width: 100%;
	background-color: $ROLES_ROW_COLOR;
	border: 1px solid $ROLES_BORDER_COLOR;
	box-shadow: none;
	margin-bottom: 5px;
	
	.campagin-home-icon{
		float: left;
		padding: 5px;
	}
	
	.campagin-home-icon i{
		 font-size: 24px;
		 color: $ICON_COLOR;
	}
	
	.campagin-home-content{
		float: left;
		width: 92%;
	
	    p{
		   color: $ROLES_CONTENT_COLOR;
		   margin: 5px 0px;
		   font-weight: bold;
		   }
	}
}

/*====================== New Campaign Page ======================*/

.margin-for-addimg{
	margin-left: 0px;
	padding-left: 0px;
	}

.campaign_rhs_wrapper {
		
	.class-top{
		margin-top: 15px;
		}
	
	.addimg-row{
		display: inline-block;
		width: 100%;
		
		.select2-container .select2-choice{
			background-color: #fff;
			background-image: none;
			height: 32px;
			line-height: 28px;
			color: #8E8E8E;
			}
			
		label {
			  width: 100%;
			  padding-left: 0px;
			  margin-left: 0px;
			  }
		.textfield-width{
			  width: 70%;
			  }
		.addimg-left-fg{
			width: 64%;
			float: left;
			margin-right: 2px;
		    }
		.addimg-right-fg{
			width: 36%;
			float: left;
			margin-left: 0%;
			
			  i{
				color: #5d5e64;
				font-size: 20px;
				font-weight: bold;
				margin-top: 20px;
				cursor: pointer;
				}
		 }
	}
	
	.form-group {
		
		.dropdown-menu{
			
			i{ position: relative;
			padding: 0px;
				}
		}
		
		.input-width{
			width: 50%;
			}
		
		label {
			font-weight:normal;
		    }
			
		.textarea-height{
			max-height: 92px;
			}
		
		.campaign-left-fg{
			width: 44%;
			float: left;
			margin-right: 2px;
		    }
		.campaign-right-fg{
			width: 48%;
			float: left;
			margin-left: 0%;
		    }
		.campaign-right-fg i{
			color: #5d5e64;
			font-size: 20px;
			font-weight: bold;
			margin-top: 20px;
			cursor: pointer;
			}
			
		.checkbox-align{
			width: 100%;
			   label {
				  width: 30%;
				  margin: 0px 0px 5px;
				  }
			}	
	}
	.campaign-group-left{
		display: flex;
		}
}

/*====================== CampaignDetail Page ======================*/

.main-campaigndetail{
	margin-top: 42px;
	
	.campaigndetail-left-fg{
			width: 48%;
			float: left;
			label{
				margin-left: 20px;
				cursor:pointer;
				}
			img{
				cursor: pointer;
				}
		    }
			
	.campaigndetail-right-fg{
			width: 48%;
			float: left;
			margin-left: 2%;
			label{
				margin-left: 20px;
				cursor: pointer;
				}
			img{
				cursor: pointer;
				}
		    }
	
	.campaigndetail-group-left{
		display: flex;
		}
}

.error-red{
	color: #E00003;
	}