/* Scss Document */

/*====================== Campaign list Page ======================*/


.campaign-thumb-row {
    float: left;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px 20px;
    margin-bottom: 25px;
    border-radius: 5px;

.campaign-list-row:hover{
	
	.campaign-mask{
		display: block;
		/*opacity: 0.86;*/
	    }
}

.campaign-list-row{
	cursor: pointer;
	
	.campaign-mask{
		background-color: #7fba00;
		display: none;
		width: 92%;
		border-radius: 2px;
		height: 261px;
		position: absolute;
		
		h3{
			margin-top: 15%;
			color: #fff;
			border: none;
			}
		
		.campaign-button{
			margin: 5% 0px 0px 36%;
			width: 95px;
			opacity: 100;
			
			button{
				margin-bottom: 15px;
				width: 95px;
				background-color: #fff;
				background-image: none;
				
				i{
					margin-right: 10px;
					color: #353535;
					}
				}
				
			 button:hover{
				background-color: #1e3e66;
				color: #fff;
				border: 1px solid #1e3e66;
				outline: none;
				
				i{
					color: #fff;
					}
				}
				
			}
		}
		
	h3{
		text-align:center;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 20px;
		border-bottom: 1px solid #e3eaef;
		padding-bottom: 10px;
		word-break: break-all;
		}
		
	span{
		color: #F59C41;
		i{
		  margin-right: 10px;
		  }
	}
		
	span:nth-child(2){
		float: right;
		color: #717CF8;
		}
	p{
		margin: 15px 0px;
		}
	h2{
		border-bottom: 1px solid #e3eaef;
		margin-bottom: 15px;
		padding-bottom: 10px;
		width: auto;
		text-transform: uppercase;
		}
	.thumbnail{
		background-color: transparent;
		background-image: none;
		
		.campaign-img{
			width: 100px;
			float: left;
			position: absolute;
			z-index: 99;
			}
			
		.discription{
			width: 100%;
			height: 100%;
			padding: 15px;
			color: #fff;
			float: left;
			background-color: #272c30;
			position: absolute;
			top: 150px;
			}
		
		.caption{
			padding: 15px;
			}
			
		.name{
		       color: #fff;
			   background-color: #1a2224;
			   padding: 10px 10px 10px 115px;
			   text-align:center;
			   margin-bottom: 0px;
			   text-transform: uppercase;
			   font-size: 20px;
			   word-break: break-all;
       		   }
			
		.caption-new{
			padding: 15px 15px 15px 115px;
			z-index: 9;
			background-color: $header-color;
			float: left;
			height: 107px;
            width: 100%;
			position: absolute;
			
			span{
				width: 100%;
				margin-bottom: 15px;
				float: left;
				}
			
			.email-row-new{
		
		span{
			margin-bottom: 10px;
			padding-left: 20px;
			width: 100%;
			float: left;
			color: #7d86cb;
			
			i{
				margin-right: 15px;
				}
			  }
			
		span:nth-child(2){
			color: #90c251;
			width: 100%;
		}
		
		}	
			}
			
		.email-row{
		
		span{
			margin-bottom: 10px;
			padding-left: 20px;
			width: 90%;
			float: left;
			color: #7d86cb;
			
			i{
				margin-right: 15px;
				}
			}
			
		span:nth-child(2){
			color: #90c251;
		}
		
		}	
			
			
		}	
}
}


/*====================== New scss forCampaign list Page ======================*/


.thumb-block-new{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom:20px;
	
	&:hover .btn_template-img-over{
		  display:block;
		  background: rgba(64, 125, 106, 0.72);
		  
		  i{
			  margin-right: 15px;
			  font-size: 14px;
			  }
	}
	  
.thumb-img-new{
	height: 370px;
	overflow:hidden;
	position:relative;
    cursor: pointer;
	background-color: #eeeff3;

		img{
			width: 100%;
			height: auto;	
			}
    }
	
.thumb-innr-new{
    padding:10px 15px 10px; 
	float: left;
	width: 100%;
	background-color: $thumb-color;/*C2CEDC-3E3E3E old colors*/
	color: #fff;
	min-height: 175px;
	
	p{
		text-align: left;
		color: $campaign-font;
		word-break: break-all;
		}
	
	.date-fix{
            width: 100%;
			
			span{
				margin-bottom: 10px;
				width: 50%;
				float: left;
				color: $campaign-font;
				font-style: italic;
			
			i{
				margin-right: 15px;
				color: #A2A0A0;
				}
			  }
			
		span:nth-child(2){
			width: 50%;
			float: right
		}
	}
}

.title-new{
		width: 100%;
		font-size: 1.1em;
		display: block;
		padding: 5px 0px 5px 15px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0px;
		background-color: $header-color;
		color: $workarea-color;
	}
	
.thumb-info-new{
	width: 100%;
	float: left;
	padding: 5px 0;
	text-align: left;
	
	h2{
		color: $campaign-font;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		padding-bottom: 10px;
		
		i{
			margin-right: 15px;
			color: #A2A0A0;
			}
	}
	
	span{
		@extend .info-text-size;
		margin-bottom: 10px;
		margin-right: 10px;
		color: $campaign-font;
		float: left;
		
		i{margin-right: 7px;
		  }
		  
		.blog-color{color: #FBB955;}
		.email-color{color: #F16161;}
		.promotional-color{color: #69B7F9;}
	}	
}	
}