/* Scss Document */

body {
	/*background: whitesmoke;*/
	margin: auto 0;
	font-family: $font_family;
	font-size:13px;
}

@font-face {
    /* There can be only one font-family in a font-face declaration. Multiple will break the font-face. */
    /* Test on Chrome in Linux to see the result of the broken font-face declaration (fonts will be serif). */
    /* Also, for some reason, IE 11 does not use this custom font. See this by changing the body font to just 'segoeui'. */
    /* Also, this font-family cannot be called "Segoe UI", as that causes issues on IE 11/Windows 8. */
    font-family:'segoeui';
    src: url('../fonts/segoeui.eot'), /* IE9 Compat Modes */
        url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'), /* IE7-IE8 */
        url('../fonts/segoeui.woff') format('woff'), /* Modern Browsers */
        url('../fonts/segoeui.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/segoeui.otf') format('opentype'), /* modern font formats */
        url('../fonts/segoeui.svg') format('svg'); /* Legacy iOS */
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0
} 

h2.common-headng{
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}

.clearfix:after{
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;	
}


.content-padding {
  width: 100%;
  float: left;
}

.content-main {
  float: right;
  width: 85%;
 /*background-color:#ccc;
   border-top: 2px solid #000;*/
	margin-top: 120px;
}

.wrap-box {
  width: 100%;
  float: left;
}

ul{
 list-style:none;
 margin:0;
 padding:0; 	
}

a{
 /*color:#000000;*/
 &:hover{
	  text-decoration:none;
 }	
}

.btn-rect{
	padding: 5px 16px;
}

/*======= Warning =======*/

.box-css{
  width:100%;
	float:left;
}

.notify{
	background-color: $header-color;
	color: $workarea-color;
	}

/*======= Input border =======*/

.form-control{
	border-color: #e3eaef ;
	box-shadow: none;
	}

.select2-container-multi .select2-choices{
	border: 1px solid #e3eaef !important;
	}
	

/*======= Resizable Div =======*/

/*=== left Div ===*/
.resizable-left{
    height: 100%;
	position: absolute;
	width: 6px;
	left: -12px;
}

/*=== Right Div ===*/
.resizable-right {
    height: 100%;
	position: absolute;
	width: 6px;
	right: -12px;
}

.resizable-right span, .resizable-left span{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ccc;
	border-width: 0px 1px;
	width: 6px;
	height: 20px;
	top: 50%;
	cursor: col-resize;
}

/*=== Top Div ===*/
.resizable-top {
	position: absolute;
	width: 100%;
	top: -12px;
	height: 6px;
}

/*=== Bottom Div ===*/
.resizable-bottom {
	position: absolute;
	width: 100%;
	bottom: -12px;
	height: 6px;
}

.resizable-bottom span, .resizable-top span{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ccc;
	border-width: 1px 0px;
	width: 20px;
	height: 6px;
	left: 50%;
	cursor: row-resize;
}

/*======= Corner Resizable Div =======*/

.cr-top {
	position: absolute;
	width: 20px;
	height: 20px;
	right: -14px;
	top: -12px;
}

.cr-right {
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: -14px;
	right: -14px;
}

.cr-bottom {
	position: absolute;
	width: 20px;
	height: 20px;
	bottom: -14px;
	left: -12px;
}

.cr-left {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -12px;
	left: -12px;
}

.cr-top span{ 
    border-width: 1px 1px 0px 0px !important; 
	cursor: ne-resize; 
	}
.cr-right span{ 
	border-width: 0px 1px 1px 0px !important; 
	cursor: se-resize; 
	}
.cr-bottom span{ 
	border-width: 0px 0px 1px 1px !important; 
	cursor: ne-resize; 
	}
.cr-left span{ 
	border-width: 1px 0px 0px 1px !important; 
	cursor: se-resize; 
	}

.cr-top span,.cr-right span, .cr-bottom span, .cr-left span{
    position: absolute;
    box-sizing: border-box;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
}

.cr-top span:nth-of-type(2) { 
  	width: 12px;
	height: 12px;
	top: 4px;
	}
.cr-right span:nth-of-type(2) { 
  	width: 12px;
	height: 12px;
	}
.cr-bottom span:nth-of-type(2) { 
  	width: 12px;
	height: 12px;
	left: 4px;
	}
.cr-left span:nth-of-type(2) { 
  	width: 12px;
	height: 12px;
	top: 4px;
	left: 4px;
	}
	

