/* Scss Document */
/* submenu blocks */

.block-container{
  width:640px;
	min-height:500px;
	position:absolute;
	top: 60px;
	left: 67px;
	/*display:none;*/
	background-color:$sidenavbar-color;
}

.submenu-block{
  width:100%;	
 	/*border:1px solid #000;*/	
	float:left;
}
.submenu-header{
  width:100%;
	min-height:50px;
	/*padding:10px 0;*/
	border-bottom:1px solid $editor-border-color;
	
	.content-padding{
    padding:10px 15px;		
	}
}
.heading-top{
	font-size:16px;
	float:left;
	text-transform:capitalize;
	margin-top:3px;
}
.submenu-leftnav{
 	width: 120px;
	float:left;
	
	li{
    border-bottom: 1px solid $editor-border-color;
    border-right: 1px solid $editor-border-color;
	}
	a{
    width: 100%;
    display: block;
    /*padding: 15px 0px;*/
    text-align:initial;
    text-transform: uppercase;
    font-size: 0.80em;
		
		&:hover{
	    color: #eee;
      background-color:$sidenavbar-hover-color;	
			span{
		    color:#fff;		
			}
		}
		
		
  }
}
.submenu-linkbox{
	padding: 10px 0;
	display: inline-block;
	text-align: center;
}
.submenu-iconbox-left{
	width: 28%;
	border-right:1px dotted $editor-border-color;
}
.submenu-link-right{
	width:69%;
	text-align: left;
  padding-left: 7px;
}
.submenu-content{
  width:81%;
	float:right;
	
	.heading{
		 width:100%;
		 /*background-color:#ebebeb;*/	
		 background-image:url(../../images/pattern1.gif);
		 padding:4px 10px;
	}	
	.content-block{
    /*background-color: #ccc;*/
    width: 100%;
    height: 332px;
    overflow-y: auto;
	}
}
.elements-right{
  width:auto;/*150px*/
	float:right;
	text-align:right;
	
	a.heading-navlinks{
    padding: 0;
    text-decoration: underline;
    width: auto;
    display: inline-block;
    text-transform: capitalize;
		font-size: 0.85em;
		
		&:hover{
      text-decoration:none;
  		background-color:transparent;
			color:#000;
		}
	}
  .right-arrow{
     font-size: 20px;
		 cursor: pointer;
	}
}

.icon-blocks{
   margin: 30px;	
	 text-align:center;
	 
	.icon-block{
    width: auto;
    text-align: center;
    display: inline-block;
    margin: 10px 40px;
		
		a{
	    display:block;		
		}
		i{
		  font-size:7em;
		}
		.caption{
	    width:100%;		
		}
	}
}

.element-highlight{
  border:2px dashed #000;
}

/*.image-block1{
	width: 640px;z
	height: 500px;
	position: absolute;
	top: 60px;
	left: 108px;
	background:#ccc;
}
.image-header{
  @extend .submenu-header;
}*/
.image-container{
  margin:10px 20px;
	
	.nav-pills{
		 a{
		   padding:6px 20px;
	     text-transform:capitalize;	 
		 }
	}	
	.tab-pane{
	   min-height:385px;
		 position: relative;
		 padding:0;
	 }
}
.bottom-fixed-box{
	/*position: absolute;
	bottom: 0px;*/
	width: 100%;
	padding: 10px;
	text-align: right;
	border-top: 1px solid $editor-border-color;
	float:left;
	
	.btn:nth-child(2){
    color:#000;		
	}
}
.top-fixed-box{
  border-bottom:1px solid $editor-border-color;	
	width:100%;
	padding:10px;
	text-align:right;
	
	.searchbox{
    width:35%;	
		height:20px;
  }
}
.user-library-content{
  width:100%;
	float:left;
	height:350px;
	padding:10px;
	overflow-y:scroll;
	
	.user-library-blocks{
    width:96%;
		margin:15px auto;	
  }
}
.library-block{
	width:25%;
  float:left;
  padding:3px;
	
	
  .library-block-inner{
    border: 2px solid #fff;
		text-align:center;
		background-color:#ccc;
		height:80px;
    line-height: 3;
		overflow:hidden;
		position:relative;
		cursor:pointer;
		
		&:hover .img-picker{
	    display:block
		}		
		&:hover{
	    border:2px solid #286090;		
		}
		.img-picker{
			display:none;
	    position:absolute;
			bottom:3px;
			left:3px;		
			font-size: 1em;
			background-color: #286090;
			color:#fff;
			width: 27px; 
			height: auto; 
			border-radius: 50%;
			padding: 6px;
		}
		
		img{
	    width:100%;
			height:100%;		
		}
	}
	.thumbnail{
		margin-bottom: 0px;
	}
}


.uploaded-date-bar{
	background-color:#ebebeb;
	background-image:$sub-heading-bg;
	width:100%;
	margin:0 auto;
	padding:4px;
	
	.date{
    font-size:0.85em;   		
	}
}

/*=========== upload-image styles ===========*/
.image-library-content{
  @extend .user-library-content;
	padding-top:0px;
	overflow:hidden;
	
	.header{
     font-size:1.3em;
		 border-bottom:1px solid $editor-border-color;
		 padding:5px;
		 /*background-image:$sub-heading-bg;*/
	}
}
.left-nav{
  width: 20%;
  float: left;	
	border-right:1px solid $editor-border-color;
  height: 360px;
	
	.links{
		margin-top:10px;
		
     li{
		     border-bottom:0;
				 border-right:0;
				 text-align:center;
				 
				 a{
				    padding:7px 10px;
				    font-size: 0.85em;
						&:hover{
								 background-color: transparent;
								 color:blue;
						}
			  	}
				 a.active{
				    color:blue;
					}
			}		
	}
}
.right-content{
  width: 78%;
  float: right;	
}
.image-library-blocks{
    width: 100%;
    padding: 10px 20px;
    float: left;	
    overflow-y: scroll;
    height: 314px;
		
		.library-block-inner{
	     height:60px;		
		}
}


/*.drag-drop{
	 background-image:url(../../images/drag-and-drop.png);
	 background-repeat:no-repeat;
   background-position: center 30%;
}*/
.upload-image-content{
	 background-image:url(../../images/drag-and-drop.png);
	 background-repeat:no-repeat;
   background-position: center 30%;
	 min-height:320px;
}

/*=================== section styles ====================*/
.block-container-section{
  	@extend .block-container;
		width:440px;
		/*height:320px;*/
		/*background-color:$sidenavbar-color;*/
		border:1px solid $section-bordercolor;
		/*color:$section-textcolor;*/
		padding:15px;
    text-transform: none;
		font-size:$editor-fontsize;
		
		i{   
		   font-size:14px;
			 color:$section-textcolor;
		}
		a{
		  font-size:$editor-fontsize;
		}
		.btn{
		  font-size:$editor-fontsize;
		}
		select{
	    color:#000;		
		}
		.submenu-block{
	    border:0;		
		}
		.submenu-header{
			min-height: initial;
			padding-bottom: 10px;
			width: 100%;
			float: left; 		
			border-bottom:1px solid $editor-border-color;
		
		
			
			h3{
				margin-top:0px;
			}	
			.content-padding{
				padding:0px 0px;		
			}
			

		}
		.sub-header{
			float: left;
			width: 100%;
			padding: 10px 0;	
		}
		li{
			border-top: 1px solid $section-bordercolor;
			border-left: 1px solid $section-bordercolor;
			border-right: 1px solid $section-bordercolor;
			float: left;
			width: 100%;
			cursor:pointer;
			
			&:hover{
		    background-color:$sidenavbar-hover-color;
				/*color:#fff;
				i{
			    color:#fff;		
				}*/
			}
		}
		li:last-child{
			border-bottom: 1px solid $section-bordercolor;	
		}
		.section-label{
			width: auto;
			float: left;		
		}

	 .btn-add-section{
			border: 1px solid $section-bordercolor;
			padding:5px 10px;
			border-radius:initial;
      /*margin-top: -4px;*/
			
			/*a{
		    display:block;		
  			padding: 3px 5px;	
				
				&:hover{
			    background-color:#ccc;		
				}
			}*/
			&:hover{
  	    background-color:$sidenavbar-hover-color;
	     color:#fff;		
				i{
			     color:#fff;		
				}
			}
			i{
				float: left;
				margin: 1px 5px 0 0;
			} 
			span{
        /*font-size: 11px;	*/
				text-transform:lowercase;	
			}
		}	
}
.section-inner{
	width: 100%;
	float: left;
  margin-bottom: 10px;
}
.section-right-content{
	@extend .elements-right;		
	
	a{
		display: inline-block;
		padding-left: 5px;
		/*color:#ccc;*/
		
		&:hover{
			color:#fff;	
			i{
			color:#fff;					
			}
		}
	}
}

/*============ section-setting-box =============*/
.section-setting-box{
  @extend .block-container-section;
  left:520px;
	width:360px;
	padding:15px;
	font-size:11px;
	
	i{
    font-size:14px;		
	}
	a{
    color:$section-textcolor;	
		display:inline-block;	
		
    &:hover{
	     color:#fff;		
		}		
	}
	h3{

	}

	.heading-top{
    margin-top:0;		
	}
}
.settings-header{
    width: 100%;
    float: left;
    padding: 10px 0 0px;
}
.horizontal-row{
   float: left;
   width: 100%;
		
	.control-label{
    /*border:1px solid #c9c9c9;*/
		margin-left:0;
		padding:0 8px;
    text-align: left;
	}
	.col-sm-8{
    /*border:1px solid #c9c9c9;		*/
		text-align:left;
		padding:0 8px;
	}
	.column{
    width:auto;
		display:inline-block;		
		margin-right:10px;
		
		a{
			display:inline-block;
			/*color:$section-textcolor;*/
		}
	}
	
	select{
    width:60px;		
	  color:#000;	
	}
	select.option-fonts{
		width:200px;
	}
	.range{
	  width:170px;	
	}
}
.color-picker-btn{
  width:12px;
	height:12px;
	border:1px solid #000;
	background-color:white;	
  display: inline-block;
	/* float: left; */
	margin-right: 5px;
	cursor:pointer;
}
.color2{
	background-color:red;
}

/*========== section-bgimage-box =========*/
.section-bgimage-box{
    @extend .block-container-section;
    left: 1000px;
    min-height: 240px;
    width: 320px;
    z-index: 9;
    top: 20px;
		
}
.setting-boxes{
	
		.section-inner{
			margin-top:10px;
			margin-bottom:0;
		}
		.bottom-fixed-box{
			border-top:none;
			padding: 10px 0 0;
		}
		.form-group{
			width:100%;
			float:left;
			margin:10px auto 0px;	
			border:1px solid $section-bordercolor;
			padding: 5px 0;
			
			i{
				position: static;
				padding: 0;
			}
		}
}
.left-bg-thumb{
  float:left;
	width:30%;
	
	a{
    
		&:hover{
	    text-decoration:underline;
		}		
	}
	.caption{
    width:100%;
		text-align:center;		
    font-size: $label-fontsize;
    margin-top: 10px;
	}
}
.right-style{
  float:right;
	width:60%;
	
	.components{
    width:100%;
	}
  .style-label{
    font-size:$label-fontsize;
		font-weight:normal;
	}
}

.property-wrap{
  @extend .box-css;
	
	.property-row{
    @extend .box-css;
    margin-bottom: 8px;

	}
	.property-col-left{
    width:48%;
		text-align:right;
		font-size:$label-fontsize;
		float:left;
	}
	.value-col-right{
    width:50%;
		text-align:right;
		float:left;
	}
	.spinner{
    float:right;
		width:80px;		
	}
	.form-control{
    height:24px; 		
		border-radius:0;
		font-size:12px;
	}
	.input-group-btn-vertical{
		.btn{
	    padding:5.5px 7px;
		}
	   > .btn:first-child{
		   border-top-right-radius: 0px;     
		 }
	   > .btn:last-child{
		   border-bottom-right-radius: 0px;     
		 }
		 i{
		    font-size:9px;	 
			}
	}
}
.edit-img-holder{
  width:100%;
	height:65px;
	overflow:hidden;
	
	img{
    width:100%;
		height:auto;		
	}	
}
.property-box{
	
  .bottom-fixed-box{
    border-top:1px solid $section-bordercolor;
		margin-top:10px;
	}
	.edit-img-holder{
    height:100px;		
	}
}

/*======== section-padding-box ========*/
.section-padding-box{
  @extend .block-container-section;
	top:240px;
	top: 280px;
	width: 432px;
	left: 888px;
	min-height: 240px;
	

}


/*============ control-bar styles =============*/
.vertically-centered{
  display:inline-block;
	vertical-align:middle;
  margin-left: -4px;
}
.control-bar{
   /* width: auto;*/
    background: #337ab7;
    position: absolute;
    top: 250px;
		padding: 5px 0;
		border: 1px solid #29689f;
		color:#e0e0e0;
		box-shadow:0 1px 3px 0 rgba(37,39,43,.9);
}
.control-label{
  @extend .vertically-centered;
	padding:0 14px;
}
.control-buttons-container{
  @extend .vertically-centered;

	
	.fa{
	  font-size:1.3em;
	}
}
.control-button{
  @extend .vertically-centered;
	text-align: center;
	padding: 0px 10px;
	font-size: 0.9em;
	
	&:hover{
     color:#fff;		
	}
}
.with-separator{
	border-left: 1px solid #1c4f7b;
	
}

/*===========  ============*/
.nav > li > a:hover, .nav > li > a:focus{
  background-color:#383838;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color:#6d6d6d;
}