/* Sass Document */

footer{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 85%;
    float: right;
    bottom: 0px;
   /* position: absolute;*/
    right: 0;
		
		.text-right{
			float:right;	
		}
		.text-left{
			float:left;	
		}
}
