/* Scss Document */

.form_main {
	padding-top:15px;
	label {
		font-weight:normal;
	}
	
	.btn-group {
		margin-right:15px;
	}
	
	.cepcha {
		width:150px;
		float:left;
		margin-right:10px;
	}
}





