/* Scss Document */

.form_main {
	padding-top:15px;
	
	label {
		font-weight:normal;
	    }
	
	.btn-group {
		margin-right:15px;
	    }
}

.registration_form {
  	@extend .form-signin;
	width:70%;
	min-height:410px;
	margin-top:3%;
	
	.checkbox{
		margin-top: 0px;
		}
	.form-group {
		margin-bottom:10px;
		label {
			font-weight:normal;
			
			}
		input.form-control {
			margin-top:0px;
		}
 	}
}

.select_contery {
	width: 100%;
	display:inline-table;	
	
	.btn-group{
		width: 100%;
		}
	}
.btn-new-reg{
	width: 75%;
	
	}
.cepcha {
		width:50%;
		float:left;
		margin-right:10px;
}