/* Scss Document */

/*==================== 10th ====================*/
.view-tenth img {   
	@include transform(scale(1));  
	@include view_img_effect(all 0.7s ease-in-out);   
	width: 100%;
	}
	
.view-tenth .mask {
	background-color: rgba(36, 172, 227, 0.79);
	@include view_img_effect(all 0.5s linear);
	@include yavun-opacity(0);
	}
	
.view-tenth h2 {
	background: transparent;
	margin: 20px 40px 0px 40px;   
	color: #333;
	@include transform(scale(0));
	@include view_img_effect(all 0.5s linear);
	@include yavun-opacity(0);
	}
	
.view-tenth h3 {
	font-size: 16px;
	color: #464646;
	text-align: left;
	margin-bottom: 5px;
	}
	
.view-tenth p {
	color: #fff;
	font-size: 14px;
	text-align: center; 
	@include yavun-opacity(0);   
	@include transform(scale(0));
	@include view_img_effect(all 0.5s linear);
	}
	
.view-tenth span {
	color: #fff;
	font-size: 14px;
	text-align: center;  
	@include yavun-opacity(0); 
	@include transform(scale(0));
	@include view_img_effect(all 0.5s linear);
	}
	
.view-tenth a.info {  
	@include yavun-opacity(0);  
	@include transform(scale(0));
	@include view_img_effect(all 0.5s linear);
	}
	
.view-tenth:hover img {   
	@include transform(scale(1.5,1.5));   
	@include yavun-opacity(100);
	}
	
.view-tenth:hover .mask { 
    @include yavun-opacity(50);
	}
	
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover span,.view-tenth:hover a.info {   
	@include transform(scale(1));  
	@include yavun-opacity(100);
	}		
				
/*==================== Comman ====================*/

.view {
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   height: 300px;
   cursor: pointer;
	}
	
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   height: 100%;
   width:100%;
   padding: 25px;
	}
	
.view img {
   display: block;
   position: relative;
   }
	
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 16px;
   padding: 10px 0px;
   margin: 0px 0px 5px 0px;
   border-bottom: 1px solid #137ca6;
   }
	
.view.mask p {
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
   }
   
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
	}
	
	.checkbox-style ul {		
		  li {
			  width: 24px;
			  height: 26px;
			  background-color:#3e4042;
			  border-radius: 2px;
		  }
		  li.selected {
			  width: 28px;
			  height: 26px;
			  background-image:url(../../images/select.png);
			  background-color:transparent;
		  }
    }