/* Scss Document */

/*========== Images Grid View Start Here =============*/

.thumbnail {
	padding: 0px;
	border: 0px;
	}
	
.grid-box {
	width: 100%;
	vertical-align: top;
	text-align: left;
	display: table;
			
	li {
		list-style: none;
		padding: 5px 0px;
		float: left;
		width: 100%;
		
		p {
			float:left;
			width: 48%;
			margin: 0px 4px 0px 0px;
            text-align: right;
			}
			
		span {
			float:left;
			width: 50%;
			list-style: hebrew;
			color: #fff;
			text-align: left;
			}
	    }
	
		li >span:before {
			content: ":";
			padding-right: 2px;
			}
}

.tabs-row{
	width: 100%;
	margin: 10px 0px;
	text-align: center;
	float: left;
	
	span {
		min-width: 25%;
		border: 0px;
		border-color: #dbdbdb;
		background-color: #E4E3E3;
		padding: 1px 8px 3px;
		border-radius: 3px;
		margin:2px;
		color: #353535 !important;
		}
}

.btn-style {
	border: 0px;
	margin-top: 5px;
	}

/*========== Images Grid View End Here =============*/

/*========== Images Horizontal View Start Here =============*/

.media-wrapper {	
	border: 1px solid #d4d4d4;
	padding: 5px;	
	.media-left-box {
		background-color: $workarea-color;		
		padding: 5px;		
		img {
			width: 150px;
			height: 150px;
			}		
		}
		
	.media-body {
		padding: 10px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		.tabs-list-row {
			width: 100%;
			margin: 10px 0px 10px;
			text-align: left;
			float: left;			
			span {
				min-width: 25%;
				border: 0px;
				border-color: #dbdbdb;
				background-color: #fff;
				padding: 1px 8px 3px;
				border-radius: 3px;
				margin:2px;
				}			
		}
		
		span.media_header, span.media_normal_text {
			display:block;
			padding:7px 0px;
		}
			
		span.media_header {
			text-transform:uppercase;
		}
	}
	
.media-right-box {
		padding: 8px;
		width: 20%;
		border: 1px solid #fff;
		vertical-align: top;
		
		li {
			list-style: none;
			padding: 5px 0px;
			float: left;
			width: 100%;
						
		p {
			float:left;
			width: 40%;
			margin: 0px
		  }
			
		span {
			float:right;
			width: 50%;
			list-style:hebrew;
			}
		}
		
		li >span:before {
			content: ":";
			padding-right: 2px;
			}
		}
		
.image-heading {
		text-align: center;
		}
}

/*========== Images Horizontal View End Here =============*/


.main-model{
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  
  .modal-box {
	  background: #fefefe;
	  border: #333333 solid 0px;
	  position: absolute;
	  top: 35%;
	  z-index: 11;
	  width: 100%;
	  min-height:150px;
	  
	  .btn-close {
		  color: #aaaaaa;
		  font-size: 30px;
		  text-decoration: none;
		  position: absolute;
		  right: 5px;
		  top: 0;
		  cursor: pointer;
		}
	  .btn-close:hover {
		  color: #919191;
		}
	  
	  .modal-text {
		  padding: 20px;
		  text-align: center;

		  .modal-button{
			  margin-top: 15px;
			  width: 100%;
			  text-align: center;
			  position: absolute;
			  bottom: 25px;
		  }
	   }
   }
  
}



