/* Scss Document */

.left-navbar-edit{
  width:8%;
	float:left;
	border-right:2px solid #000;
	height:700px;	
  position: fixed;
	z-index:99;
}
.left-navbar-edit-header{
  width: 100%;
	text-align: center;
	padding: 6px 0;	
	border-top:2px solid #000;
	border-bottom:2px solid #000;
  min-height: 60px;	
}
.left-navbar-edit-header{
	width: 100%;
	text-align: center;
	padding: 16px 0 6px;
	border-top: 2px solid #000;
	min-height: 60px;	
	
  img{
	    width:90%;	
		}	
}

.nav-main-edit{
	
  li{
	 border-bottom:1px solid #000;
	 border-right:1px solid #000;	 
	 /*position:relative;*/
		>a{
			 width:100%;
			 display:block;
			 padding:15px 20px;
			 text-align:center;
			 text-transform:uppercase;
			 font-size: 0.85em;  	
		 
				 &:hover{
					 color: #eee;
					 background-color: #b8b8b8; 
				 }
		}
	}	
	

	.fa{
	 font-size:1.5em;
	}
}
.header-edit{
  width:92%;
	
	.header-main{
	   border-bottom:2px solid #000;
	} 
}
.nav-arrows-col{
	float: left;
	width: 150px;
	margin-top: 8px;
	font-size: 1.2em; 
	margin-left: 3%;	

	a{
		display:block;
		float:left;
    margin-right:40px;		
	}
}
.template-edit{
   width:100%; 
	 position:relative;
	 
	 img{
		  width:100%; 
		}	
	.grid-vertical{
     width:85%;
		 border-left:1px dashed #000;
		 border-right:1px dashed #000;		 
		 position:absolute;
		 height:100%;
		 margin:0 auto;
		 left:0;
		 right:0;
	}
	.grid-horizontal{
     width:100%;
		 border-top:1px dashed #000;
		 border-bottom:1px dashed #000;		 
		 position:absolute;
		 height:93.5%;
		 margin:auto 0;
		 top:0;
		 bottom:0;
	 }
}
.content-main-edit{
  width:92%;	
  margin-top: 60px;
	position:relative;
	z-index:9;
}
.footer-edit{
  width:92%;	
}

/* submenu blocks */

.block-container{
  width:640px;
	height:500px;
	position:absolute;
	top: 60px;
	left: 108px;
	/*display:none;*/
}
.submenu-block{
  width:100%;	
	background-color:#fff;
	border:1px solid #000;	
	float:left;
}
.submenu-header{
  width:100%;
	min-height:60px;
	padding:10px 0;
	border-bottom:1px solid #000;
	
	.heading-top{
	    font-size:1.3em;
			float:left;
		}	
}
.submenu-leftnav{
 	width: 120px;
	float:left;
	
	li{
		
	}
	a{
	  padding:10px 20px;
		font-size:0.83em;
		text-transform:capitalize;
  }
}
.submenu-content{
  width:81%;
	float:right;
	
	.heading{
		 width:100%;
		 background-color:#ebebeb;	
		 padding:4px 10px;
	}	
	.content-block{
    /*background-color: #ccc;*/
    width: 100%;
    height: 332px;
    overflow-y: auto;
	}
}
.elements-right{
  width:150px;
	float:right;
	text-align:right;
	
	a.heading-navlinks{
    padding: 0;
    text-decoration: underline;
    width: auto;
    display: inline-block;
    text-transform: capitalize;
		font-size: 0.85em;
		
		&:hover{
      text-decoration:none;
  		background-color:transparent;
			color:#000;
		}
	}
}

.icon-blocks{
   margin: 30px;	
	 text-align:center;
	 
	.icon-block{
    width: auto;
    text-align: center;
    display: inline-block;
    margin: 10px 40px;
		
		a{
	    display:block;		
		}
		i{
		  font-size:7em;
		}
		.caption{
	    width:100%;		
		}
	}
}

.element-highlight{
  border:2px dashed #000;
}

/*.image-block1{
	width: 640px;z
	height: 500px;
	position: absolute;
	top: 60px;
	left: 108px;
	background:#ccc;
}
.image-header{
  @extend .submenu-header;
}*/
.image-container{
  margin:10px 20px;
	
	.nav-pills{
		 a{
		   padding:6px 20px;
	     text-transform:capitalize;	 
		 }
	}	
	.tab-pane{
	   min-height:385px;
		 position: relative;
		 padding:0;
	 }
}
.bottom-fixed-box{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	text-align: right;
	border-top: 1px solid #ccc;
}
.top-fixed-box{
  border-bottom:1px solid #ccc;	
	width:100%;
	padding:10px;
	text-align:right;
	
	.searchbox{
    width:35%;	
		height:20px;
  }
}
.user-library-content{
  width:100%;
	float:left;
	height:400px;
	padding:10px;
	
	.user-library-blocks{
    width:96%;
		margin:15px auto;	
  }
}
.library-block{
	width:25%;
  float:left;
  padding:3px;
	
	
  .library-block-inner{
    border:1px solid #000;
		text-align:center;
		background-color:#ccc;
		min-height:50px;
    line-height: 3;
	}
}

.uploaded-date-bar{
	background-color:#ebebeb;
	width:100%;
	margin:0 auto;
	padding:4px;
	
	.date{
    font-size:0.85em;   		
	}
}



.drag-drop{
	 background-image:url(../../images/drag-and-drop.png);
	 background-repeat:no-repeat;
   background-position: center 30%;
}

/*============ control-bar styles =============*/
.vertically-centered{
  display:inline-block;
	vertical-align:middle;
  margin-left: -4px;
}
.control-bar{
   /* width: auto;*/
    background: #337ab7;
    position: absolute;
    top: 250px;
		padding: 5px 0;
		border: 1px solid #29689f;
		color:#e0e0e0;
		box-shadow:0 1px 3px 0 rgba(37,39,43,.9);
}
.control-label{
  @extend .vertically-centered;
	padding:0 14px;
}
.control-buttons-container{
  @extend .vertically-centered;

	
	.fa{
	  font-size:1.3em;
	}
}
.control-button{
  @extend .vertically-centered;
	text-align: center;
	padding: 0px 10px;
	font-size: 0.9em;
	
	&:hover{
     color:#fff;		
	}
}
.with-separator{
	border-left: 1px solid #1c4f7b;
}
