/* Scss Document */

.left-navbar-edit{
  width:10%;
	float:left;
	border-right:2px solid #000;
	height:700px;	
}
.left-navbar-edit-header{
  width: 100%;
	text-align: center;
	padding: 6px 0;	
	border-top:2px solid #000;
  min-height: 60px;
	
}
.nav-main-edit{
	
 li{
	 
  }	
	a{
	 width:100%;
	 display:block;
	 padding:10px 20px;
	 text-align:center;
	    	
	}
}
