/* CSS Document */

/* Scss Document */


.form-signin {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    max-width: 330px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
	input.form-control {
		margin-top:10px;
	}
}
	


	