/* Scss Document */


.promotional-thumb-row {
    float: left;
    width: 100%;
    margin-bottom: 25px;

.campaign-list-row:hover{
	
	.campaign-mask{
		display: block;
		/*opacity: 0.86;*/
	    }
}

}


.thumb-promo-new{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom:20px;
	
	&:hover .btn_template-img-over{
		  display:block;
		  background: rgba(64, 125, 106, 0.72);
		  
		  i{
			  margin-right: 15px;
			  }
	}
	  
.thumb-img-new{
	height: 370px;
	overflow:hidden;
	position:relative;
    cursor: pointer;
	background-color: #eeeff3;

		img{
			width: 100%;
			height: auto;	
			}
    }
	
.thumb-innr-promonew{
    padding:10px 15px 10px; 
	float: left;
	width: 100%;
	background-color: $thumb-color;/*C2CEDC-3E3E3E old colors*/
	color: #fff;
	min-height: 125px;
	
	p{
		text-align: left;
		color: $campaign-font;
		word-break: break-all;
		}
	
	.Revision-fix{
            width: 100%;
			
			span{
				margin-bottom: 10px;
				width: 50%;
				float: left;
				color: $campaign-font;
			
			i{
				margin-right: 15px;
				color: #A2A0A0;
				}
			  }
			
		span:nth-child(2){
			width: 50%;
			float: right
		}
	}
}

.title-new-promo{
		width: 100%;
		font-size: 1.1em;
		display: block;
		padding: 5px 0px 5px 15px;
		text-transform: uppercase;
		position: absolute;
		bottom: 0px;
		background-color: $header-color;
		color: $workarea-color;
	}
	
	
}