/* Scss Document */

.extend-all{
	border-radius: 50%;
	position: absolute;
	}
	
.menu-circle:hover{
	
	ul{
		display: block;
		}
	li{
		display: block;
		}
		
	li:nth-child(2){
		display: block;
		}
}

.menu-circle{
	@extend.extend-all;
	background-color: $main_blue_color;
	width: 60px;
	height: 60px;
	right: 50px;
	bottom: -100px;
	cursor: pointer;
	
	ul{
		width: 60px;
		height: 135px;
		position: relative;
		top: -180px;
		display: none;
		}
	
	i{
		color: $workarea-color;
		font-size: 26px;
		margin: 20px 0 0 21px;
		}
	
	li{
	  @extend.extend-all;
	  background-color: $sidenavbar-color;
	  width: 50px;
	  height: 50px;
	  bottom: 10px;
	  margin-left: 5px;
	  display: none;
	  
	  i{
		color:$main_blue_color;
		font-size: 18px;
		margin: 16px 0 0 18px;
		}

	  }
	  
	 li:nth-child(2){
	  background-color: $sidenavbar-color;
	  bottom: 68px;
	  
	  i{
		color:$main_blue_color;
		font-size: 18px;
		margin: 16px 0 0 16px;
		}
	  }
}

.menu-circle-2{
	@extend.extend-all;
	background-color: $main_blue_color;
	width: 75px;
	height: 75px;
	right: 200px;
	bottom: -100px;
	cursor: pointer;
	
	i{
		color: $workarea-color;
		font-size: 30px;
		margin: 25px 0 0 25px;
		}
	
	li{
	  @extend.extend-all;
	  background-color: $sidenavbar-color;
	  width: 60px;
	  height: 60px;
	  bottom: 86px;
	  margin-left: 5px;
	  
	  i{
		color:$main_blue_color;
		font-size: 20px;
		margin: 20px 0 0 22px;
		}
		
	  }
	  
	 li:nth-child(2){
	  background-color: $sidenavbar-color;
	  bottom: 160px;
	  
	  i{
		color:$main_blue_color;
		font-size: 20px;
		margin: 20px 0 0 22px;
		}
	  }
}

/*======================== Import Recipients ============================*/

.import-main{
	width: 100%;
	
	p{
		margin-bottom: 15px;
		}
	}
	
/*======================== Import Mapping for Recipients ============================*/

.table-header{
	background-color: $table-color;
	height: 36px;
	text-transform: uppercase;
	}
.table-bordered>thead>tr>th{
	font-weight: normal;
	}
.table-body-color{
	background-color: $table-color;
	}
	
.table>tbody>tr>td{
	line-height: 32px;
	}
.table-align{
	padding: 0px;
	}
.table{
	color: $table-text-color;
	}