/* Scss Document */

.recipients_table .ui-grid {  
  margin-left:0px;
  float:left;
  width:99.5%;   
	}
	
.recipients_table .col-md-4 {
	padding-right:0px;
	}
	
.rcp_border_radus {
	border-radius: 50%;
	position: absolute;
	}
	
.menu-circle:hover{
	
	ul{
		display: block;
		}
	li{
		display: block;
		}
		
	li:nth-child(2){
		display: block;
		}
}

.menu-circle{
	cursor: pointer;
	
	.plus-circle:hover{
		  opacity: 0.6;
		  transition: opacity 1s ease-in-out;
		  -moz-transition: opacity 1s ease-in-out;
		  -webkit-transition: opacity 1s ease-in-out;
		}
		
	.plus-circle{
		@extend .rcp_border_radus; 
		background-color: $header-color;
		width: 60px;
		height: 60px;
		right: 50px;
	    bottom: -100px;
		opacity: 0.60;
		transition: opacity .55s ease-in-out;
		-moz-transition: opacity .55s ease-in-out;
		-webkit-transition: opacity .55s ease-in-out;
	
	i{
		color:$workarea-color;
		font-size: 26px;
		margin: 20px 0 0 20px;
		}
		
	}
	
	ul:hover{
		opacity: 1.0;
		transition: opacity .55s ease-in-out;
		-moz-transition: opacity .55s ease-in-out;
		-webkit-transition: opacity .55s ease-in-out;
		}
		
	ul:hover:after{
	  	    opacity: 0.50;
			transition: opacity .100s ease-in-out;
			-moz-transition: opacity .100s ease-in-out;
			-webkit-transition: opacity .100s ease-in-out;
		}
	
	ul{
		width: 60px;
		height: 135px;
		position: absolute;
		display: none;
		right: 50px;
        bottom: -110px;
		  opacity: 0.6;
		  transition: opacity 1s ease-in-out;
		  -moz-transition: opacity 1s ease-in-out;
		  -webkit-transition: opacity 1s ease-in-out;
		
		.import-recip{
			position: absolute;
			width: auto;
			background-color: #353535;
			color: #fff;
			left: -140px;
			top: 5px;
			padding: 5px 15px;
			border-radius: 3px;
			}
		.add-recip{
			position: absolute;
			width: auto;
			background-color: #353535;
			color: #fff;
			left: -125px;
			top: 80px;
			padding: 5px 15px;
			border-radius: 3px;
			}
			
		}
	
	
		
	li:hover{
		-webkit-transform: rotate(360deg); /* Safari */
        transform: rotate(360deg);
		}
	
	li {
	  @extend .rcp_border_radus;
	  background-color: $header-color;
	  width: 60px;
	  height: 60px;
	  bottom: 10px;
	  margin-left: 0px;
	  display: none;
	  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;	
	  
	  i{
		color:$workarea-color;
		font-size: 18px;
		margin: 22px 0 0 24px;
		}
	  }
	  
	 li:nth-child(2){
	  background-color: $header-color;
	  bottom: 85px;
	  
	  i{
		color:$workarea-color;
		font-size: 18px;
		margin: 22px 0 0 21px;
		}
	  }
	}


/*======================== Import Recipients ============================*/

.import-main{
	width: 100%;
	p {
		margin-bottom: 15px;
		}
	}
	
/*======================== Import Mapping for Recipients ============================*/
.table-header{
	background-color:$body-color;
	height: 36px;
	text-transform: uppercase;
	}
.table-bordered>thead>tr>th{
	font-weight: normal;
	}
.table-body-color{
	background-color: $table-color;
	
	
	}
	
.table>tbody>tr>td{
	line-height: 32px;
	}
.table-align{
	padding: 0px;
	}
.table{
	color: $table-text-color;
	}
/*======================== Editable field for Recipients ============================*/

.recip-main{
	
 .form-group{
		 margin-bottom: 0px;
		 }
		 
.recip-edit-row{
	 float: left;
	 width: 100%;
	 margin-top: 15px;

	.recip-left-fg{
		width: 24%;
		float: left;
		margin-right: 10px;
		}
	.recip-right-fg{
		width: 8%;
		float: left;
		margin-left: 0%;
					a{
					  padding: 7px 10px;
					  color: #353535;
					  text-decoration:none;
					  display: block;
					  margin: 0;
					  background-color: $workarea-color;
					  border-radius: 3px;
					  cursor: pointer;
					  border: 1px solid #e3eaef;
					
						&:hover{
								color: $workarea-color;
								background-color: $link-hover;	
								border-color: $link-hover;
								
								i{
								  color: $workarea-color;
								  }
	
						}
						
					  i{
						  color: $header-color;
						  margin-right: 10px;
						  padding: 0px;
						  position: relative;
						  }
					 }
		}
		
 }
}

/*======================== action bar for Recipients ============================*/

.action-row{
	    width: 20px;
		height: 100%;
		margin: 0 auto;
	
	i{
		font-size: 17px;
		line-height: 30px;
		color: #999999;
		}
		
	i:hover{
		color: $workarea-color;
		}
	
	ul{
		background-color: #fff;
		width: 150px;
		position: absolute;
		display: none;
		right: 70px;
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
   		-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
        /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2); */
		border: 1px solid #d4d4d4;
		
		li{
			background: #f3f3f3;
			border: 1px solid #d4d4d4;
			text-align: left;
			position: relative;
			white-space: nowrap;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), inset 0 12px 12px -14px rgba(0, 0, 0, 0.2);
			
			span{
				padding: 10px;
				color: #353535;
				
			i{
				margin-right: 15px;
				}
				
			}
		}
		
		li:hover{
			background-color: $header-color;
			
			span{
				color: $workarea-color;
				
				i{
				color: $workarea-color;
				}
			 }
		}
	  }
			
}

.action-row:hover{
	
	ul{
	  display: block;
	  }
}

