
/* Scss Document */

.thumb-row{
    float: left;
    width: 100%;	
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.thumb-block{
	width: 100%;
	/*border: 1px solid #000;*/
	height: auto;
	float: left;
	/*margin: 5px 8px;*/ 	
	margin-bottom:20px;
	
	&:hover .btn_template-img-over{
		  display:block;
		  background: rgba(36, 172, 227, 0.79);
		  
		  i{
			  margin-right: 15px;
			  }
		  }
	.title{
		width: 100%;
		font-size: 1.1em;
		display: block;
		padding: 5px 0;
		text-transform: uppercase;
		text-align: center;	
	}
}
.thumb-innr{
    padding:10px 15px 10px; 
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}
.thumb-img{
	height: 280px;
/*	background-image: url(../../images/img_1.gif);
	background-repeat: no-repeat;
	background-size: 100% auto;
    background-position: center 0;*/
	overflow:hidden;
	position:relative;
    cursor: pointer;
	background-color: #eeeff3;

		img{
			width: 100%;
			height: auto;	
			
		   /* &:hover{
					opacity: 0.5;
		     }	*/
			}
}
.thumb-desc{
  font-size:0.9em;	
}
.thumb-info{
	width: 100%;
	float: left;
	padding: 5px 0;
	
	 .info-text-size{
		 font-size:0.9em; 
		}
	.revision{
		@extend .info-text-size;
	   	float:left;
		width: 50%;
		margin-bottom: 10px;
		}
	.age{
		@extend .info-text-size;
	  	float:right;
		width: 50%;
		}
}
.bg-text-color{
   color:#8b8a8a;
	 background-color:#eee;	 	
}
.btn_view-more{
	width: 100%;
	display: block;
	float: left;
	padding: 5px 0;	
	text-align:center;
	font-size:0.9em;	
	
	a{
    padding: 7px 15px 8px;
	border-radius: 5px;
    border: 1px solid #e3eaef;
    color: #000;
	background-color: $workarea-color;
	cursor: pointer;
	text-decoration:none;
		&:hover{
		  color: $workarea-color;
		  background-color: #1e3e66;
		  border: none;
		  }
	 }
}
.thumb-stats-view{
  border-top:1px solid #e3eaef;	
  width: 100%;
  float: left;
}
.thumb-graph-wrap{
	float: left;
	width: 100%;
	padding: 5px 0 15px;
}
.thumb-graph{
    width:45%;
	float:left;	
	height: 89px;	
	background-image:url(../../images/chart.jpg);
	background-repeat:no-repeat;
}
.thumb-graph-details{
  width:45%;
	float:right;	
	
	p{
	   font-size:0.9em;
		 margin:5px 0;	
	 }
}
.thumb-category{
    width:100%;
    border-bottom: 1px solid #e3eaef;
	padding:20px 0 10px;
	margin-bottom:10px;
	float:left;
	
	.thumb-category-title{
        font-size: 1em; 
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	 }
	.right-elements{
	  float:right;
		width:160px;
		}
}
.content-padding{
	.thumb-category:first-child{
	  	padding:10px 0;
		}
}

.btn_view-all{
	display: block;
	float: left;
	padding: 5px 0;
	text-align: center;
	font-size: 0.9em;
	padding: 6px 4px;
	  
		a{
		  /*text-decoration:underline; */
		  background-color: #47a8d8;
		  padding: 3px 10px;
		  color: #fff;
		  cursor: pointer;
		  border-radius: 3px;	
				&:hover{
				 text-decoration:none;	
				 			
			 }	 
    }
}
.btn_load-templates{
    width: 400px;
    margin: 20px auto 10px;
    text-align: center;
    border: 1px solid #000;
		
	  a{
			padding: 8px 0;
			display: block;
			
			&:hover{
			   text-decoration:none;	
         @extend .bg-text-color;
				}
		 }
}

