/* Scss Document */


.upload-wrapper{
    margin: 2px;
    width: 99%;
    float: left;
    padding: 10px;
}
.upload-inner{
    width: 80%;
    float: left;
    /*border: 1px solid #000;*/
		/*padding:3% 15% 20px 30px;*/
		margin-top:20px;
		
		.thumb-category-title{
		    text-align:center;
		    margin-bottom: 30px;  	
			}
}
.select2-container{
  width:100%;	
}
.select2-container-multi{
		
  .select2-choices{
 	  	position:absolute!important;
			top:0;
			left:0;
    width: 100%;
	}
}