/* Scss Document */


.upload-wrapper{
    margin: 2px;
    width: 99%;
    float: left;
    padding: 10px;
}
.upload-inner{
    width: 60%;
    float: left;
    /*border: 1px solid #000;*/
		/*padding:3% 15% 20px 30px;*/
		margin-top:20px;
		
		.thumb-category-title{
		    text-align:center;
		    margin-bottom: 30px;  	
			}
}