/* CSS Document */

/* BLACK COLOR */
$main-color:#000;
$grey-color:lighten($main-color, 80% );

/* WHITE COLOR */
$workarea-color:#ffffff;
$grey-color:lighten($workarea-color, 80% );

/* BLUE COLOR DIRECTLY */
$main_blue_color:#26ade3;

/* GREEN COLOR DIRECTLY */
$COLOR_GREEN:#419641;
$BORDE_GREEN:#3e8f3e;

/* BLACK SHADES */
$header-color:#1e3e66;
$brder-color:#1b5098;
$icon-head-color:#1b4f98;
$secondery-navebar-color:lighten($main-color, 95% ); //#f2f2f2 !default
$body-color: #dfe7ea;
$sidenavbar-color:#1e3e66;
$search-border-color:#234d82;
$logo-color: #14519a;

/* LIGHT GREEN COLOR */
$ROLES_ROW_COLOR:#e8f6e2;
/* BORDER GREEN COLOR */
$ROLES_BORDER_COLOR:#d6e9c6;
/* BORDER GREEN COLOR */
$ROLES_CONTENT_COLOR:#468847;
/* GREEN COLOR */
$ICON_COLOR:#468847;

/* FONT FAMILY */
$font_family: 'segoeui', 'Segoe UI'; 

/* FONT SIZES */
$nav-edit-text-size: 0.9em;

/* ICON COLOR */
$nav-icon-color:#5d5e64;

/* NAV-LINKS COLOR */
$sidenavbar-hover-color:#1b951b;

/* editor's blocks border color */
$editor-border-color:#626262;

/* editor's blocks font size */
$editor-fontsize:11px;
/* editor's label font size */
$label-fontsize:14px;

/* heading bg image */
$sub-heading-bg:url(../../images/pattern1.gif);

/* section variables */
$section-bgcolor:#f3f2f3;
$section-bordercolor:#626262;
/*$block-container-bordercolor:#626262;*/
$section-textcolor:#878688;
$table-text-color:#000;

/* table color variables */
$table-color:#f9f9f9;
$table-text-color:#5b676f;




