<!--- Start Main Wrapper -->
<div class="main_rhs_wrapper">
<div class="import-main">

<form role="form">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
            <p>Select File</p>
			<input type="file" class="filestyle" data-buttonname="btn-primary" 
            id="filestyle" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
            <div class="bootstrap-filestyle input-group">
            <input type="text" class="form-control " placeholder="" > 
            <span class="group-span-filestyle input-group-btn" tabindex="0">
            <label for="filestyle" class="btn btn-primary ">
            <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span> 
            <span class="buttonText">Browse</span>
            </label>
            </span>
            </div>
                                            
            </div>
        </div>
    </div>
</form>

</div>
</div>
<!--- End Main Wrapper -->