
<div class="main_rhs_wrapper">

<p><strong>Mapping</strong></p>
<p>Mapp the database table fields with the XLS file column</p>
 
 <div class="col-md-4 table-align"> 
        
  <table class="table table-bordered">
    <thead class="table-header">
      <tr>
        <th>Table Fields</th>
        <th>File Columns</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>First Name</td>
        <td><select class="form-control"></select></td>
      </tr>
      <tr class="table-body-color">
        <td>Last Name</td>
        <td><select class="form-control"></select></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><select class="form-control"></select></td>
      </tr>
    </tbody>
  </table>
 </div>

</div>