

    <div class="col-xs-12 recip-main">

          <div class="form-group recip-edit-row">
            <div class="recip-left-fg">
                <input type="text" class="form-control" disabled/>
            </div>
        
            <div class="recip-right-fg">
                  <a><i class="fa fa-pencil-square-o"></i>Edit</a>
            </div>
            
          </div>

    </div>


<div class="recipients_table">

	<div class= "col-md-4">
		<wc-grid grid-options = "gridOptions" ></wc-grid>		
	</div>
	<div class = "col-md-8">
		<wc-grid grid-options = "recipientsGridOptions" ></wc-grid>		
	</div>

</div>



<!--<ul class="menu-circle">
<i class="fa fa-plus"></i>
    <li><i class="fa fa-user" title="Delete Recipient"></i></li>
    <li><i class="fa fa-users" title="Delete From List"></i></li>
</ul>-->

<div class="menu-circle">
<i class="fa fa-plus"></i>
<ul>
    <li><i class="fa fa-user" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.add" title ="Add Recipient"></i></li>
    <li><i class="fa fa-users" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.import" title="Import Recipient"></i></li>
    
</ul>

</div>