<!--<div >

    	<span ng-click="editField()" ng-if="edit === false">{{selectedList.listName}}</span>

    	<div ng-if="edit === true">
    		<input type="text" ng-bind="selectedList.listName" value="selectedList.listName" ng-model="selectedList.listName" />
    		<button type="submit" class="btn btn-primary" ng-click="updateList(data.field, 'somename')"><span class="glyphicon glyphicon-ok"></span></button>
    		<button type="button" class="btn btn-default" ng-click="cancelEdit()"><span class="glyphicon glyphicon-remove"></span></button>
    	</div>

    </div>-->
    <div>
    List Name: 
    <input type="text" name="name" ng-model="name" ng-disabled = "isInputDisable"/>
    <div>
<div class="recipients_table">

	<div class= "col-md-4">
		<wc-grid grid-options = "gridOptions" ></wc-grid>		
	</div>
	<div class = "col-md-8">
		<wc-grid grid-options = "recipientsGridOptions" ></wc-grid>		
	</div>

</div>



<!--<ul class="menu-circle">
<i class="fa fa-plus"></i>
    <li><i class="fa fa-user" title="Delete Recipient"></i></li>
    <li><i class="fa fa-users" title="Delete From List"></i></li>
</ul>-->

<div class="menu-circle">
<i class="fa fa-plus"></i>
<ul>
    <li><i class="fa fa-user" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.add" title ="Add Recipient"></i></li>
    <li><i class="fa fa-users" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.import" title="Important Recipient"></i></li>
    
</ul>

</div>