
 <span >
      List Name: <input type="text" name="name" ng-model="name" ng-disabled = "isInputDisable"/>
 </span>

<div class="recipients_table">

	<div class= "col-md-4" >
		<wc-grid grid-options = "gridOptions" ></wc-grid>		
	</div>
	<div class = "col-md-8">

		<wc-grid grid-options = "recipientsGridOptions" ></wc-grid>		
	</div>

</div>


<div class="menu-circle">
<i class="fa fa-plus"></i>
<ul>
    <li><i class="fa fa-user" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.add" title ="Add Contacts"></i></li>
    <li><i class="fa fa-users" ui-sref-active = "nav-selected" ui-sref = "app.home.manage.recipients.import" title="Import Contacts"></i></li>
    
</ul>

</div>