<div class="main_rhs_wrapper">

<form>
<div class="row campaign_rhs_wrapper">
  <div class="col-md-5">
 <!-- <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control input-width" ng-model = "image.fileName" placeholder="Name">
  </div>-->

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control textarea-height" rows="5" id="comment" 
    ng-model = "image.description" placeholder="Description"></textarea>
  </div>
  
  <div class="form-group addimg-row">
    <label>Keyword</label>
    <input  ui-select2="select2Options" class="form-control textfield-width" 
    ng-model="image.keywords" data-placeholder="Keyword">
  </div>

   <div class="form-group">
        <label class="control-label col-sm-2 margin-for-addimg" for="Screen Shot">Images:</label>
        <div class="col-sm-10">
          <wc-file-upload-model name = "file"/>
        </div>
    </div>

  <div class="form-group addimg-row class-top">
    <label class="control-label" for "Image Category">Category:</label>
    <select class="textfield-width form-control" ng-model="category" ng-change = "setCategoryValue(category)">
         <option value="">Select A Category</option>
         <option ng-repeat="category in imageCategory" value="{{category}}">{{category.name}}</option>             
    </select>
  </div>

   <div class="form-group image-group-left">
    <div class="image-left-fg">
    <label>Expiry Date</label>
    <p class="input-group datepicker" >
      <input type="text" class="form-control" 
             datepicker-popup="{{format}}" 
             class="form-control input-width"
             ng-model="image.expiryDate" 
             is-open="calendar.isCalenderOpen" 
             date-disabled="disabled(date, mode)" 
             ng-required="true" 
             id="date-picker" 
             readonly
             show-button-bar="false"
             ng-change = "clearEndDate()"
             />
    </p>       
    </div>
      {{isCalenderOpen}}
    <div class="image-right-fg" ng-click="calendar.isCalenderOpen = !calendar.isCalenderOpen">
        <i class="fa fa-calendar" ></i>
    </div>
  </div>
    <div class="form-group">
        <label>
        <input type="checkbox"> I here by agree to  the yavun terms of service and policy
        </label>
    </div>

</div>  
</div>
</form>
</div>