

<!--- Start Main Wrapper -->
<div class="main_rhs_wrapper">

<!--- Start Dialogue Box --->
<!--<div class="main-model">
  <div class="modal-box">

    <a class="btn-close">×</a>
    <div class="modal-text">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <div class="modal-button">
      <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>

  </div>
</div>-->
<!--- End Dialogue Box --->


<!--Start First view Row -->
<div class="row">

<!-- Start image box 1 -->
    <div class="col-sm-6 col-md-4" ng-repeat=" grid in imageList">
      <div class="thumbnail">
            <div class="view view-tenth">
                <img src={{grid.upload.url}} />
                <div class="mask">
                
            
                    <div class="checkbox-style">
                        <ul>
                          <li class="selected"></li>
                        </ul>
                    </div>
             
                
                    <h2>{{grid.upload.fileName}}</h2>
                    <p>{{grid.description}}</p>
                    <div class="media-left media-middle grid-box">
                       <li><p>Category</p><span> {{grid.category.name}}</span></li>
                    </div>
                    <!--- tabs Start-->
                    <div class="tabs-row">
                    <span ng-repeat = "keyword in grid.keywords">{{keyword}}</span> 
                    </div>
                </div>
            </div>
      </div>
    </div>
<!-- End image box 1 -->
    
</div>
</div>
<!--- End Main Wrapper -->

