
<!--- Start Main Wrapper --->
<div class="main_rhs_wrapper">


<!----------------------- Start First view Row ----------------------->
<div class="row">

<!-- Start image box 1 --->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
            <div class="view view-tenth">
                <img src="images/2.jpg" />
                <div class="mask">
                    <h2>IMAGE NAME</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, 
                    like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="media-left media-middle grid-box">
                       <li><p>Category</p><span> Design</span></li>
                    </div>
                    <!--- tabs Start--->
                    <div class="tabs-row">
                       <span>Keywords..</span>
                       <span>Keywords..</span>
                       <span>Keywords..</span>    
                    </div>
                    <!-- button -->
                    <!--<button type="button" class="btn btn-primary btn-style">View More
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    </button>-->
                </div>
            </div>
      </div>
    </div>
<!-- End image box 1 --->
    
<!-- Start image box 2 --->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
            <div class="view view-tenth">
                <img src="images/2.jpg" />
                <div class="mask">
                    <h2>IMAGE NAME</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, 
                    like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="media-left media-middle grid-box">
                       <li><p>Category</p><span> Design</span></li>
                    </div>
                    <!--- tabs Start--->
                    <div class="tabs-row">
                       <span>Keywords..</span>
                       <span>Keywords..</span>
                       <span>Keywords..</span>      
                    </div>
                    <!-- button -->
                    <!--<button type="button" class="btn btn-primary btn-style">View More
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    </button>-->
                </div>
            </div>
      </div>
    </div>
<!-- End image box 2 --->
    
<!-- Start image box 3 --->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
            <div class="view view-tenth">
                <img src="images/2.jpg" />
                <div class="mask">
                    <h2>IMAGE NAME</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, 
                    like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="media-left media-middle grid-box">
                       <li><p>Category</p><span> Design</span></li>
                    </div>
                    <!--- tabs Start--->
                    <div class="tabs-row">
                       <span>Keywords..</span>
                       <span>Keywords..</span>
                       <span>Keywords..</span>     
                    </div>
                    <!-- button -->
                    <!--<button type="button" class="btn btn-primary btn-style">View More
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    </button>-->
                </div>
            </div>
      </div>
    </div>
<!-- End image box 3 --->
    
</div>
<!----------------------- End First view Row ----------------------->


<!----------------------- Start Second view Row ----------------------->

<!-------- list one ---------->
<div class="media media-wrapper">
    <div class="media-left media-middle media-left-box">
       <img class="media-object" src="images/2.jpg" alt="Image Name">
       <h3 class="media-heading image-heading">Image Name</h3>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Description</h4>
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
     Lorem Ipsum has been the industry's 
     standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text 
     of the printing and typesetting industry. Lorem   Ipsum has been the industry's 
     standard dummy text ever since the 1500s,
          <div class="tabs-list-row">
             <h4>Keywords</h4>
             <span>Design..</span>
             <span>Web..</span>
             <span>Java..</span> 
             <span>Angular..</span>      
          </div>
    </div>
    <div class="media-left media-middle media-right-box">
     <li><p>Created by</p><span> Admin</span></li>
     <li><p>Created on</p><span> 05.10.2015</span></li>
     <li><p>Size</p><span> 200kb</span></li>
     <li><p>Category</p><span> Design</span></li>
    </div>
</div>
<!-------- list one ---------->

<!-------- list tow ---------->
<div class="media media-wrapper">
    <div class="media-left media-middle media-left-box">
       <img class="media-object" src="images/2.jpg" alt="Image Name">
       <h3 class="media-heading image-heading">Image Name</h3>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Description</h4>
     Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
     Lorem Ipsum has been the industry's 
     standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text 
     of the printing and typesetting industry. Lorem   Ipsum has been the industry's 
     standard dummy text ever since the 1500s,
          <div class="tabs-list-row">
             <h4>Keywords</h4>
             <span>Design..</span>
             <span>Web..</span>
             <span>Java..</span> 
             <span>Angular..</span>      
          </div>
    </div>
    <div class="media-left media-middle media-right-box">
     <li><p>Created by</p><span> Admin</span></li>
     <li><p>Created on</p><span> 05.10.2015</span></li>
     <li><p>Size</p><span> 200kb</span></li>
     <li><p>Category</p><span> Design</span></li>
    </div>
</div>
<!-------- list tow ---------->

<!----------------------- End Second view Row ----------------------->

</div>
<!--- End Main Wrapper --->

