

<!--- Start Main Wrapper --->
<div class="main_rhs_wrapper">


<!----------------------- Start First view Row ----------------------->
<div class="row">

    <!-- Start image box 1 --->
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="right" title="Add Description & Keywords">
      <div class="thumbnail">
        <img src="images/images.jpg" alt="IMAGES">
        <div class="caption">
          <h3>Image Name</h3>
          <div class="media-left media-middle grid-box">
             <li><p>Created by</p><span> Admin</span></li>
             <li><p>Created on</p><span> 05.10.2015</span></li>
             <li><p>Size</p><span> 200kb</span></li>
             <!--<li><p>Keywords</p><span> dummy text</span></li>-->
             <li><p>Category</p><span> Design</span></li>
          </div>
        </div>
      </div>
    </div>
    <!-- End image box 1 --->
    
    <!-- Start image box 2 --->
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="right" title="Add Description & Keywords">
      <div class="thumbnail">
        <img src="images/images.jpg" alt="IMAGES">
        <div class="caption">
          <h3>Image Name</h3>
          <div class="media-left media-middle grid-box">
             <li><p>Created by</p><span> Admin</span></li>
             <li><p>Created on</p><span> 05.10.2015</span></li>
             <li><p>Size</p><span> 200kb</span></li>
             <!--<li><p>Keywords</p><span> dummy text</span></li>-->
             <li><p>Category</p><span> Design</span></li>
          </div>
        </div>
      </div>
    </div>
    <!-- End image box 2 --->
    
    <!-- Start image box 3 --->
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="left" title="Add Description & Keywords">
      <div class="thumbnail">
        <img src="images/images.jpg" alt="IMAGES">
        <div class="caption">
          <h3>Image Name</h3>
          <div class="media-left media-middle grid-box">
             <li><p>Created by</p><span> Admin</span></li>
             <li><p>Created on</p><span> 05.10.2015</span></li>
             <li><p>Size</p><span> 200kb</span></li>
             <!--<li><p>Keywords</p><span> dummy text</span></li>-->
             <li><p>Category</p><span> Design</span></li>
          </div>
        </div>
      </div>
    </div>
    <!-- End image box 3 --->
    
    <!-- Start image box 4 --->
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" data-placement="left" title="Add Description & Keywords">
      <div class="thumbnail">
        <img src="images/images.jpg" alt="IMAGES">
        <div class="caption">
          <h3>Image Name</h3>
            <div class="media-left media-middle grid-box">
             <li><p>Created by</p><span> Admin</span></li>
             <li><p>Created on</p><span> 05.10.2015</span></li>
             <li><p>Size</p><span> 200kb</span></li>
             <!--<li><p>Keywords</p><span> dummy text</span></li>-->
             <li><p>Category</p><span> Design</span></li>
            </div>
          <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> 
             <a href="#" class="btn btn-default" role="button">Button</a>
          </p>-->
        </div>
      </div>
    </div>
    <!-- End image box 4 --->

</div>
<!----------------------- End First view Row ----------------------->


<!----------------------- Start Second view Row ----------------------->

<div class="media media-wrapper">
  <div class="media-left media-middle media-left-box">
    <a href="#">
      <img class="media-object" src="images/images.jpg" alt="Image Name">
       <h3 class="media-heading image-heading">Image Name</h3>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Description</h4>
   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
   standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem   Ipsum has been the industry's 
   standard dummy text ever since the 1500s,
  </div>
  <div class="media-left media-middle media-right-box">
   <li><p>Created by</p><span> Admin</span></li>
   <li><p>Created on</p><span> 05.10.2015</span></li>
   <li><p>Size</p><span> 200kb</span></li>
   <li><p>Keywords</p><span> dummy text</span></li>
   <li><p>Category</p><span> Design</span></li>
  </div>
</div>

<!----------------------- End Second view Row ----------------------->





</div>
<!--- End Main Wrapper --->