<div class="header-sub clearfix">
        <!--<div class="common-headng-wrap"><h2 class="common-headng">{{subheader.title}}</h2> </div>-->
        
        <div class="sub-header-icon"><i class="fa fa-user"></i></div>
        
        <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="views/assets/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
               
   <!--   <div class="shortout-wrap">
        <select>
          <option>All Templates</option>
          <option>Templates1</option>
          <option>Templates2</option>
        </select>
        <span class="line-break">| </span>
        <label>Order By: </label>
        <select>
          <option>Age</option>
        </select>
        <span class="line-break">|</span>
        <input type="submit" ng-click="reload($event)" value="Refresh">
        -->        
        
        <button class="btn btn-default" type="button">Reset</button>
        <button class="btn btn-default" type="button">Export</button>
        <button class="btn btn-default" type="button">Delete</button>
        <button class="btn btn-default" type="button">Properties</button>
        <button class="btn btn-default" type="button">Add</button>
        
        
      </div>
  
