<div class="header-sub clearfix">
        <!--<div class="common-headng-wrap"><h2 class="common-headng">{{subheader.title}}</h2> </div>-->
        
        <div class="sub-header-icon"><i class="fa fa-user"></i> </div>
        
        
        <ol class="breadcrumb">
        <li>New User Registration</li>
        </ol>
                   
  
        
        <button class="btn btn-default" type="button">Reset</button>
        <button class="btn btn-default" type="button">Export</button>
        <button class="btn btn-default" type="button">Delete</button>
        <button class="btn btn-default" type="button">Properties</button>
        <button class="btn btn-default" ui-sref = "app.home.manage.user.add" type="button">Add</button>        
        
      </div>
  
