

<wc-header-editor></wc-header-editor>

<wc-left-nav-editor></wc-left-nav-editor>


 <!-- left-navbar-edit -->

<div class="content-main content-main-edit">

     

      <div class="template-edit"    dragula = "'menu'">
      	<!-- <div ng-bind-html = "html | unsafe"></div>-->
      	<wc-html-bind src = "html" wc-border-highlight wc-button-context-menu ></wc-html-bind>
      	<!--<textarea froala = "froalaOptions" ng-model="html"></textarea> -->
      </div>

<wc-footer-editor></wc-footer-editor>

