<div class="main_rhs_wrapper">
<p><strong>General</strong></p>
<p>Enter user information</p>
<form name="Form" novalidate
                  validate-non-visible-controls="false">
<div class="row">
  <div class="col-md-8">  
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label>First Name</label>

    <input type="text" class="form-control" required ng-model="user.firstName" placeholder="First Name" required="required" required-err-type="firstNameRequired" ng-keyup = "checkValidation()" ng-change = "checkValidation()"/>

    </div>
    <div class="right-fg">
    <label>Last Name</label>
    <input type="text" class="form-control"  ng-model="user.lastName" placeholder="Last Name" required="required" required-err-type="lastNameRequired"/>
    </div>
  </div>
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
     <label>Email</label>
    <input type="email" class="form-control" ng-model="user.email" placeholder="Email" 
    required="required"  required-err-type="emailisrequired" ng-keyup = "checkValidation()" ng-change = "checkValidation()"/>
    </div>
    <div class="right-fg">
    <label>Company</label>
    <input type="text" class="form-control" ng-model="user.organizationName" placeholder="Company">
    </div>

  </div>

  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label>Address 1</label>
    <input type="text" class="form-control" ng-model="user.address1" placeholder="Address 1">
    </div>
    <div class="right-fg">
    <label>Address 2</label>
    <input type="text" class="form-control"  ng-model="user.address2" placeholder="Address 2">
    </div>

  </div>

  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label>Phone</label>
    <input type="text" class="form-control" ng-model="user.phone" placeholder="Phone"  ng-pattern="/^[0-9]{10,13}$/" pattern-err-type="invalidPhoneNo">
    </div>
    <div class="right-fg">
    <label>Mobile</label>
    <input type="text" class="form-control" ng-model="user.mobile" placeholder="Mobile" ng-pattern="/^[0-9]{10,13}$/" name = "mobile" pattern-err-type="invalidMobile"/ />
    </div>
  </div>

  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label>City</label>
    <input type="text" class="form-control" ng-model="user.city" placeholder="City">
    </div>
    <div class="right-fg">
    <label>Country</label>
     <select class="form-control" ng-model = "user.country" ng-options = "country.countryName for country in countries"
      ng-change = "updateCountry()"></select>
    </div>
  </div>
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label>State</label>
     <select ng-model = "user.state" class = "form-control" ng-options = "state.stateName for state in states"></select>
    </div>
    <div class="right-fg">
    <label>Zip</label>
    <input type="text" class="form-control" ng-model="user.zip" placeholder="Zip">
 
    </div>
  </div>
  
  </div>
  
</div>

</form>

</div>

