<div class="main_rhs_wrapper">
<p><strong>General</strong></p>
<p>Enter user information</p>
<form>
<div class="row">
  <div class="col-md-4">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="email" class="form-control" ng-model="add.firstName" placeholder="First Name">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="email" class="form-control" ng-model="add.lastName" placeholder="Last Name">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" ng-model="add.email" placeholder="Email">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Company</label>
    <input type="email" class="form-control" ng-model="add.company" placeholder="Company">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Address 1</label>
    <input type="email" class="form-control" ng-model="add.address1" placeholder="Address 1">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Address 2</label>
    <input type="email" class="form-control"  ng-model="add.address2" placeholder="Address 2">
  </div>
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label for="exampleInputEmail1">Phone</label>
    <input type="email" class="form-control" ng-model="add.phone" placeholder="Phone">
    </div>
    <div class="right-fg">
    <label for="exampleInputEmail1">Mobile</label>
    <input type="email" class="form-control" ng-model="add.mobile" placeholder="Mobile">
    </div>
  </div>
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label for="exampleInputEmail1">City</label>
    <input type="email" class="form-control" ng-model="add.city" placeholder="City">
    </div>
    <div class="right-fg">
    <label for="exampleInputEmail1">Country</label>
    <input type="email" class="form-control" ng-model="add.country" placeholder="Country">
    </div>
  </div>
  
  <div class="form-group form-group-left">
  	<div class="left-fg">
    <label for="exampleInputEmail1">State</label>
    <input type="email" class="form-control" ng-model="add.state" placeholder="State">
    </div>
    <div class="right-fg">
    <label for="exampleInputEmail1">Zip</label>
    <input type="email" class="form-control" ng-model="add.zip" placeholder="Zip">
 
    </div>
  </div>
  
  </div>
  
</div>
</form>

</div>

