
<div class="main_rhs_wrapper">
<p><strong>Credentials</strong></p>
<p>Enter user password</p>
<form>
<div class="row">
  <div class="col-lg-6">
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Re-enter</label>
    <input type="password" class="form-control" ng-model="passwordRepeated" placeholder="Re-enter">
  </div>
  
  </div>
  
</div>
</form>

</div>

