
<div class="wrapper">

<!--Navigation bar start here-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
     
        
      
      <ul class="nav navbar-nav navbar-right">         
            <li><a href="#"><i class="fa fa-question-circle"></i></a></li>           
           
            
       <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">                      
            <li><a href="#"><i class="fa fa-arrow-circle-up"></i></a></li>
          </ul>
        </li>-->
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--Navigation bar end here-->


<div class="header-sub clearfix">
        <!--<div class="common-headng-wrap"><h2 class="common-headng">{{subheader.title}}</h2> </div>-->
        
        <div class="sub-header-icon"><i class="fa fa-user"></i> </div>
          <div class="ng-isolate-scope">  
            <ol class="breadcrumb">
            <!-- ngRepeat: crumb in breadcrumbs -->
            <li class="ng-scope active">
            <span  class="ng-binding"> New user registration</span>
            </li>
            </ol>
           </div>
        <button class="btn btn-default" type="button">Cancel</button>
        <button class="btn btn-default disabled" type="button">Save</button>
      </div>
   
<!--Work area start here-->

 <div class="container-fluid">   
<div class="row">
<form class="form_main">
    <div class="col-md-4">
    
    
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" placeholder="First Name">
  </div>
  
  <div class="form-group">
    <label>Last Name</label>
    <input  class="form-control" placeholder="Last Name">
  </div>
  
  <div class="form-group">
    <label>Email</label>
    <input  class="form-control"  placeholder="Email">
  </div>
  
  <div class="form-group">
    <label>Phone</label>
    <input  class="form-control"  placeholder="Phone">
  </div> 
  
  <div class="form-group">
    <label>Mobile</label>
    <input  class="form-control"  placeholder="Mobile">
  </div>
  
  <div class="form-group">
    <label>Countery</label>    
<div class="btn-group">
  <button type="button" class="btn btn-default ">Action</button>
  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>    
  </ul>
</div>

<label>State</label>    
<div class="btn-group">
  <button type="button" class="btn btn-default ">Action</button>
  <button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>    
  </ul>
</div>
</div>

<div class="form-group">
    <label>City</label>
    <input  class="form-control"  placeholder="City">
  </div>  
  
  
    </div>
    <!-- secont paarage re ------------------------------------------>
    <div class="col-md-4">
  
 <div class="form-group">
    <label>Address</label>
    <textarea  class="form-control"  placeholder="Address"> </textarea>
  </div> 
  
  <div class="form-group">
    <label>Address2</label>
    <textarea  class="form-control"  placeholder="Address2"> </textarea>
  </div>
  
  <div class="form-group">
    <label>Zip</label>
    <input  class="form-control"  placeholder="Zip">
  </div>    
    
  

  
  <div class="checkbox">
    <label>
      <input type="checkbox"> I here by agree to  the yavun terms of service and policy
    </label>
  </div>
  
  <div class="form-group">
    <label>Prove you are not a robot </label><br/>
    <img alt="CAPTCHA Image" src="file:///E|/WebcontentorMicroSites/app/images/chepcha.png"/>
    <br/>
    <input  class="form-control cepcha"  placeholder="">
    <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><i class="fa fa-refresh"></i></button>
  <button type="button" class="btn btn-default"><i class="fa fa-headphones"></i></button>
  <button type="button" class="btn btn-default"><i class="fa fa-volume-up"></i></button>
</div>
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
    </div>
    </form>
    
    
    
</div>
</div>
<!--Work area end here-->

   
    
   
</div>

