
<div class="wrapper">

<!--Navigation bar start here-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/yavun_logo.svg" alt=""/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
     
        
      
      <ul class="nav navbar-nav navbar-right nav-icon-color">
               <li><a href="#"><i class="fa fa-question-circle"></i></a></li>      
      </ul>
      


          </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!--Navigation bar end here-->


<wc-sub-header></wc-sub-header>
   
<!--Work area start here-->
<div class="inner_wrapper">

 <div class="container-fluid"> 
 <div class="registration_form"> 
 <form class="form_main" name="Form" novalidate
                  ng-submit="submit()"
                  validate-non-visible-controls="false"> 
<div class="row">

<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
       <label>First Name</label>
            <input class="form-control" name="name" ng-model="user.firstName" placeholder="First Name" required="required"  required-err-type="firstNameRequired" />
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
     <label>Last Name</label>
          <input class="form-control" ng-model="user.lastName" placeholder="Last Name" required="required"  required-err-type="lastNameRequired"/>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
        <label>Email</label>

        <input type="email" class="form-control" name = "email"  ng-model="user.email" placeholder="Email" required="required"  required-err-type="emailisrequired"/>

      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
</div>
  
 <div class="row">
 
  <div class="col-lg-4">
    <div class="form-group">
       <label>Phone</label>
            <input class="form-control" ng-model="user.phone" placeholder="Phone"
             ng-pattern="/^[0-9]{10,13}$/" pattern-err-type="invalidPhoneNo" />
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
     <label>Mobile</label>
         <input  class="form-control" ng-model="user.mobile" placeholder="Mobile"  
         ng-pattern="/^[0-9]{10,13}$/" name = "mobile" pattern-err-type="invalidMobile"/>
        
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
    <label>Country</label>
     <select class="form-control" ng-model = "user.country" ng-options = "country.CountryName for country in countries"
      ng-change = "updateCountry()"></select>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
</div> 
  
<div class="row">

  <div class="col-lg-4">
    <div class="form-group">
     <label>Address1</label>
          <input class="form-control" ng-model="user.address1" placeholder="Address"/>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
     <label>Address2</label>
          <input class="form-control" ng-model="user.address2" placeholder="Address2">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
     <label>City</label>
          <input class="form-control" name="city" ng-model="user.city" placeholder="City" validator="required">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
</div>

<div class="row">
  
    <div class="col-lg-4">
    <div class="form-group">
    <label>State</label>
       <select ng-model = "user.state" class = "form-control" 
        ng-options = "state.StateName for state in states"></select>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
    <div class="col-lg-4">
    <div class="form-group">
     <label>Zip</label>
          <input class="form-control"  ng-model="user.zip" placeholder="Zip">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
            <label>Prove you are not a robot </label><br/>
           <div class="g-recaptcha"  name = "captcha" data-sitekey=
           "6Lc_0f4SAAAAAF9ZA_d7Dxi9qRbPMMNW-tLSvhe6"></div>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
 
</div>
  
  <div class="col-lg-4">
     <div class="checkbox">
            <label>
            <input type="checkbox"> I here by agree to  the yavun terms of service and policy
            </label>
            </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <div class="form-group">
    <button ng-click= "addUser()" type = "submit"   class="btn btn-success ">Sign in</button>{{message}}
    </div><!-- /input-group -->
  </div><!-- /.col-lg-4 -->

      </div>
    <!-- secont paarage re -->

    </form>
    </div>

</div>
</div>
<!--Work area end here-->

</div>

