<div class="main_rhs_wrapper">
<p><strong>Role</strong></p>
<p>Specify the role for this user</p>
<form>
<div class="row">
  <div class="col-xs-12">

      <!-- Roles Row 1-->
      <div class="img-thumbnail roles-row">
      		<div class="roles-radio">
              <input type="radio" id="q156" name="" value="1" />
            </div>
            
            <div class="roles-content">
              <p><strong>Role 1:</strong></p>
              <p>This role grant full permission to user to access all features</p>
            </div>
      </div>
      
      <!-- Roles Row 2-->
      <div class="img-thumbnail roles-row">
      		<div class="roles-radio">
              <input type="radio" id="q156" name="" value="1" />
            </div>
            
            <div class="roles-content">
              <p><strong>Role 2:</strong></p>
              <p>This role restricts the user to read only access</p>
            </div>
      </div>
      
      <!-- Roles Row 3-->
      <div class="img-thumbnail roles-row">
      		<div class="roles-radio">
              <input type="radio" id="q156" name="" value="1" />
            </div>
            
            <div class="roles-content">
              <p><strong>Role 3:</strong></p>
              <p>This role is for the approver</p>
            </div>
      </div>

  
  </div>
  
</div>
</form>

</div>