<div class="control-bar" ng-hide="enabled">
	<span class="control-label"><b>::</b>{{nodeName}}</span>
		<span class="control-buttons-container">
		<span class="control-button with-separator fa fa-files-o"></span>
		<span class="control-button with-separator fa fa-cog"></span>
		<span class="control-button with-separator fa fa-trash-o"></span>
</div>



<!--- Start Dialogue Box --->
<div class="main-model">
  <div class="modal-box">

    <a class="btn-close">×</a>
    <div class="modal-text">
   
      <p> <i class="fa fa-info-circle"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      <div class="modal-button">
      <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>

  </div>
</div>
<!--- End Dialogue Box --->