
<div class="wrapper">
<wc-header></wc-header>
   
<!--Work area start here-->
<div class="inner_wrapper">
    <div class="container">
      <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
        <wc-form elements="elements" form-btns="formBtns" form-data="loginUser" submit-event="{{submitEvent}}"></wc-form>
        </div>
      </div>
    </div>
   </div>
<!--Work area end here-->

   
    
   
</div>

