
<div style=" width: 300px; height: 300px; margin-left: 16px; margin-top: 16px; background-color: #7fba00; position: relative;">
    <!--- Resizeble Div Start--->
    <div class="resizable-top"><span></span></div>
    <div class="resizable-right"><span></span></div>
    <div class="resizable-bottom"><span></span></div>
    <div class="resizable-left"><span></span></div>
    <!--- Resizeble Div End--->
    
    <!--- Corner Resizeble Div Start--->
    <div class="cr-top"><span></span><span></span></div>
    <div class="cr-right"><span></span><span></span></div>
    <div class="cr-bottom"><span></span><span></span></div>
    <div class="cr-left"><span></span><span></span></div>
    <!--- Corner Resizeble Div Start--->
    
    
</div>