<p>DASHBOARD Version</p>

<span app-version></span>

<div> {{Object}}</div>

<div ng-repeat="items in Object">
    <div>
        <input ng-model="items.name" value="{{items.name}}" type="text"/>
        <div><p>Online: <span> <input ng-model="items.flag" checked = "" value="{{items.flag}}" type="radio"/></span></div></p>

        <div><p>Points: <span>{{items.points}}</span></div></p>
        <input ng-model="items.name" value="{{items.name}}" type="text"/>
        <input ng-model="items.name" value="{{items.name}}" type="text"/>
    </div>
</div>