<div class="main_rhs_wrapper">
<p><strong>{{campaign.name}}</strong></p>
<p>{{campaign.description}}</p>

<p>This campaign started on {{campaign.startDate | FormatDateFilter}}  and ends on {{campaign.endDate | FormatDateFilter}} </p>

<p><strong>Features</strong></p>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group main-campaigndetail">
    
    <div class="form-group campaigndetail-group-left">
    
      <div class="campaigndetail-left-fg" ng-repeat = "data in selectedFeatures">
       
        <img src="images/microsite-icon.png" width="60" height="60" alt="" ng-if="data.feature == 'Microsite'" ui-sref = "app.home.manage.page.overview"/> 
       
        <img src="images/email-icon.png" width="60" height="60" alt="" ng-if="data.feature == 'Email'" ui-sref = "app.home.campaign.emails" />

        <img src="images/blog-icon.png" width="60" height="60" alt="" ng-if="data.feature == 'Blog'" ui-sref = "app.home.manage.page.overview"/> 
        
        <label>{{data.feature}}</label>
        
      </div>
    </div>
    
    </div>
   </div>
  </div>
</div>