<div class="main_rhs_wrapper">
<p><strong>{{campaign.description}}</strong></p>

<p>This campaign started on</p><p>{{campaign.startDate | FormatDateFilter}}</p> And End on<p> {{campaign.endDate | FormatDateFilter}} </p>

<p>Features</p>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group main-campaigndetail">
    
    <div class="form-group campaigndetail-group-left">
    
      <div class="campaigndetail-left-fg" ng-repeat = "feature in selectedFeatures">
       <img src="images/microsite-icon.png" width="60" height="60" alt="" ng-if="feature.Feature == 'Microsite'"/> 
       <img src="images/email-icon.png" width="60" height="60" alt="" ng-if="feature.Feature == 'Email'"/> 
          <label>{{feature.Feature}}</label>
        
      </div>
        
      <!--<div class="campaigndetail-right-fg" ui-sref = "app.home.manage.page">
          <img src="images/microsite-icon.png" width="60" height="60" alt=""/> 
          <label>Microsite</label>
      </div>-->
      
    </div>
    
    </div>
   </div>
  </div>
</div>