<div class="main_rhs_wrapper">
<p><strong>Description of the campaign  goes here</strong></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

<p>This campaign started on 5th september and ends 30 october 2015</p>

<p>Features</p>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group main-campaigndetail">
    
    <div class="form-group campaigndetail-group-left">
    
      <div class="campaigndetail-left-fg">
        <img src="images/email-icon.png" width="60" height="60" alt=""/>
        <label>Email</label>
        </div>
        
      <div class="campaigndetail-right-fg">
          <img src="images/microsite-icon.png" width="60" height="60" alt=""/> 
          <label>Microsite</label>
      </div>
      
    </div>
    
    </div>
   </div>
  </div>
</div>