<div ui-view>
<div class="main_rhs_wrapper">
<p>Welcome {{loggedInUser.firstName}} to the new and exciting interface of yavun</p>

<div class="row">
  <div class="col-xs-12">

      <!-- campaign Row 1-->
      <div class="img-thumbnail campaign-home-row">
      		<div class="campagin-home-icon">
             <i class="fa fa-arrow-circle-right"></i>
            </div>
            
            <div class="campagin-home-content">
              <p>To go through click on the New campaign on left</p>
            </div>
      </div>

  </div>
</div>


</div>
</div>