<div ui-view>
<div class="main_rhs_wrapper">

<!--- First Row Start Here-->
<div ng-if = "allCampaignList.length == 0">
<p>Welcome {{loggedInUser.firstName}} to the new and exciting interface of yavun</p>
<div class="row">
  <div class="col-xs-12">

      <!-- campaign Row 1-->
      <div class="img-thumbnail campaign-home-row">
      		<div class="campagin-home-icon">
             <i class="fa fa-arrow-circle-right"></i>
            </div>
            
            <div class="campagin-home-content">
              <p>To go through click on the New campaign on left</p>
            </div>
      </div>

  </div>
</div>
</div>
<!-- First Row End Here-->


<div class="campaign-thumb-row">

<!-- Campaign list Row Start Here-->

 <!-- thumb-category -->
    <div class="row">
              <div class="col-lg-4" ng-repeat = "campaign in allCampaignList">
            <div class="thumb-block-new" ng-mouseover="onMouseOver($event)">
                <div class="thumb-img">
                  <span class="btn_template-img-over">
                  <a target="_blank"  ng-click = "getCampaignDetail(campaign)"><i class="fa fa-info-circle"></i>Details</a>
                  <a  ng-click = "getCampaignDetail(campaign)"><i class="fa fa-pencil-square-o"></i>Edit</a></span> 
                  <img src="images/2.jpg"/>
                  <span class="title-new">{{campaign.name}}</span>
                 </div>
              
                 <div class="thumb-innr-new">
                    <div class="date-fix">
                    <span><p><i class="fa fa-calendar"></i>Start Date</p>{{campaign.startDate | FormatDateFilter}}</span>
                    <span><p><i class="fa fa-calendar"></i>End Date</p>{{campaign.endDate | FormatDateFilter}}</span>
                    </div>
                    
                   <p>{{campaign.description}}</p>
                      
                    <div class="thumb-info-new">
                    <h2><i class="fa fa-file-text"></i>Features</h2>
                     <span ng-repeat = "feature in campaign.CampaignFeatures">
               			<i class="fa fa-desktop promotional-color" 
                        ng-if = "feature.securityFeatures.feature == 'Promotional Pages'"></i>
                		<i class="fa fa-envelope-o email-color" ng-if = "feature.securityFeatures.feature == 'Email'"></i>
                        <i class="fa fa-rss-square blog-color" ng-if = "feature.securityFeatures.feature == 'Blog'"></i>
                		{{feature.securityFeatures.feature}}
               		</span>
                    </div>
                 </div>

        </div> <!-- ./thumb block -->
      </div>
      

</div>
<!-- ./row -->

</div>

</div>
</div>