/* Scss Document */
/* line 3, ../sass/global/_config.scss */
body {
  font-family: Arial,Helvetica,sans-serif;
}

/* line 6, ../sass/global/_config.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/global/_config.scss */
h2.common-headng {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}

/* line 15, ../sass/global/_config.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Scss Document */
/* header specific css */
/* line 11, ../sass/global/_header.scss */
header {
  width: 85%;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  float: right;
}

/* line 18, ../sass/global/_header.scss */
.padding-allside, .header-main, .header-sub {
  padding: 9px 10px 8px;
}

/* line 21, ../sass/global/_header.scss */
.header-main {
  clear: both;
}

/* line 25, ../sass/global/_header.scss */
.social-icon-tray {
  width: 200px;
  float: right;
}
/* line 28, ../sass/global/_header.scss */
.social-icon-tray a {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}
/* line 33, ../sass/global/_header.scss */
.social-icon-tray .glyphicon {
  font-size: 1.8em;
  color: #000;
}

/* line 38, ../sass/global/_header.scss */
.search-text-input-wrap {
  width: 280px;
  float: left;
  margin-top: 5px;
}

/* line 43, ../sass/global/_header.scss */
.search-text-input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0px 1px 1px 1px #e5e5e5;
  height: 28px;
  outline: 0;
  padding: .4em 0 .4em .6em;
  width: 100%;
}

/* line 52, ../sass/global/_header.scss */
.header-sub {
  border-top: 2px solid #000;
}

/* line 57, ../sass/global/_header.scss */
.common-headng-wrap {
  float: left;
  /* width: 200px; */
  padding: 0 0 0 19px;
}
/* line 62, ../sass/global/_header.scss */
.common-headng-wrap h2.common-headng {
  padding: 0 0;
}

/* line 66, ../sass/global/_header.scss */
.hamburger-wrap {
  width: 40px;
  height: 23px;
  background-image: url(../../images/hambuger.svg);
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 9px 40px 0 20px;
}

/* line 75, ../sass/global/_header.scss */
.shortout-wrap {
  width: 50%;
  float: right;
}
/* line 79, ../sass/global/_header.scss */
.shortout-wrap select {
  padding: 2px 5px;
}

/* Scss Document */
/* line 3, ../sass/global/_left-navbar.scss */
.left-navbar {
  width: 15%;
  float: left;
  border-right: 2px solid #000;
  height: 400px;
}

/* line 10, ../sass/global/_left-navbar.scss */
.logo-main {
  width: 100%;
  text-align: center;
  padding: 6px 0;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

/* line 17, ../sass/global/_left-navbar.scss */
.btn_create-new-design {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 8px 0;
  cursor: pointer;
}

/* line 25, ../sass/global/_left-navbar.scss */
.btn_create-new-design-wrap {
  border-top: 1px solid #000;
  padding: 8px 0;
}

/* line 29, ../sass/global/_left-navbar.scss */
.btn_left-bar {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
  font-size: 1.2em;
}
/* line 38, ../sass/global/_left-navbar.scss */
.btn_left-bar:hover {
  background-color: #333;
  color: #fff;
}

/* line 43, ../sass/global/_left-navbar.scss */
.title_main-nav {
  padding: 8px 0;
}
/* Sass Document */
/* line 3, ../sass/global/_footer.scss */
footer {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 85%;
  float: right;
  bottom: 0px;
  position: absolute;
  right: 0;
}
/* line 12, ../sass/global/_footer.scss */
footer .text-right {
  float: right;
}
/* line 15, ../sass/global/_footer.scss */
footer .text-left {
  float: left;
}
